<!-- Modal -->
{{#if threeDeeEnabled}}
<div id="threeDeeTargetModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">3D view of {{prefLabel}}</h3>
			</div>
			<div class="modal-body" class="medium-margin-bottom">
				<div id="glmol01" {{bind-attr class=":gl-molecule showMolecule::hidden"}}></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>
{{/if}}
<!-- breadcrumb	-->
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{prefLabel}}</li>
	<li class="active">Target Information</li>
</ul>

<!-- main -->

<textarea id="glmol01_src" class="hidden"></textarea>
<div class="container">
	<div class="large-top-spacing">
		<div class="row">
			{{partial "targets/targetInfoButtons"}}
			{{partial "targets/targetInfoTitle"}}
			{{partial "targets/targetInfoList"}}
			<!-- On medium and above size screens the sidebar is a sidebar using col-xs-pull-3. On small screens it flows below -->
			{{partial "targets/targetInfoSidebar"}}
		</div>
	</div>
</div>
