<div class="goto-button" id="top">
	<button class="btn btn-default btn-sm" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button>
</div>
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</li>
	<li class="active">Pathways</li>
</ul>
<div class="huge-margin-bottom">
	{{partial "targets/targetPathwaysSummary"}}
</div>
<!-- RESULT LISTING -->
{{#if notEmpty}}
<div class="table-responsive">
	<table class="mytable" style="border-spacing: 0;">
		{{partial "targets/targetPathwaysTableHeader"}}
		{{partial "targets/targetPathwaysTableBody"}}
	</table>
</div>
{{/if}}
