{{partial "targets/targetPharmacologyFiltersModal"}}
<div class="goto-button" id="top"><button class="btn btn-default btn-sm" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button></div>
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</li>
	<li class="active">Target Phamacology</li>
</ul>

<div class="huge-margin-bottom">
	{{partial "targets/targetPharmacologySummary"}}
</div>
<!-- RESULT LISTING -->
{{#if haveRecords}}
<div class="table-responsive">
	<table class="mytable" style="border-spacing: 0;">
		{{partial "targets/targetPharmacologyTableHeader"}}
		{{partial "targets/targetPharmacologyTableBody"}}
	</table>
</div>
{{/if}}
