<div>
		<!-- Modal -->
		<div id="targetPharmaFilterModalView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Select filters for {{this.prefLabel}}</h3>
		  </div>
		  <div class="modal-body" style="overflow-y: visible;">
	        <div id="activity-filters">
		    <p><h4>Activity Filter</h4></p>
			{{view Ember.Select
			       content=activityTypes
			       optionLabelPath="content.label"
			       prompt="Select an activity"
			       value=selectedActivity
			       selection=selectedActivity
			}}
			{{view Ember.Select
			       content=conditions
			       prompt="Select an operator"
	               value=selectedCondition
			       selection=selectedCondition
			}}
			{{input type="text" placeholder="Enter an activity value" value=activityValue id="activityValueInput"}}
			{{view Ember.Select
			       content=activityUnits
			       optionLabelPath="content.label"
			       prompt="Select a unit"
	               value=selectedUnit
			       selection=selectedUnit
			}}
	        </div>
	        <div>
	<h5>Return activities with the following relation(s) only</h5>
	<p class="small-padding-right activity-relation-operator">></p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThan" classNames="relation-checkbox"}}</p>
	<p class="small-padding-right activity-relation-operator"><</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThan" classNames="relation-checkbox"}}</p>
	<p class="small-padding-right activity-relation-operator">=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="equalTo" classNames="relation-checkbox"}}</p>
	<p class="small-padding-right activity-relation-operator">>=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThanOrEqual" classNames="relation-checkbox"}}</p>
	<p class="small-padding-right activity-relation-operator"><=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThanOrEqual" classNames="relation-checkbox"}}</p>
	        </div>
	        <div id="pchembl-filters">
		    <p><h4>pChembl Filter</h4></p>
			{{view Ember.Select
			       content=pchemblConditions
			       prompt="Select an operator"
	               value=selectedPchemblCondition
			       selection=selectedPchemblCondition
			}}
			{{input type="text" placeholder="Enter a pchembl value" value=pchemblValue id="pchemblValueInput"}}
	        </div>
	        <div>
		    <p><h4>Organism filters</h4></p>
	            <div>
	                <h5 style="display: inline;">Assay:</h5> {{input type="text" placeholder="Enter name of an assay organism" value=assayOrganismQuery action="fetchOrganism" id="assay_organism_box" autocomplete="off"}}
	            </div>
	            <div>
	                <h5 style="display: inline;">Target:</h5> {{input type="text" placeholder="Enter name of a target organism" value=targetOrganismQuery action="fetchOrganism" id="target_organism_box" autocomplete="off"}}
	            </div>
	        </div>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	        <button class="btn btn-warning" {{action "resetFilters"}} title="Reset the filters to default values">Reset filters</button>
		    <button class="btn btn-primary" {{action "applyFilters"}} title="Apply the filters you have selected">Apply filters</button>
		  </div>
		</div>
		<!-- End of Modal -->
    <div class="goto-button" id="top"><button class="btn btn-small" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button></div>
<div>
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li>{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}<span class="divider">/</span></li>
  			<li class="active">Target Phamacology</li>
			
			<div class="row pull-right"> 
				<div class="span1 small-padding-top small-padding-right">Provenance</div>
  				<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
					<button {{action 'enableProvenance'}} {{bind-attr class="showPharmaProvenance:active: :btn"}}>On</button>
					<button {{action 'disableProvenance'}} {{bind-attr class="showPharmaProvenance::active :btn"}}>Off</button>
  				</div>
			</div>
		</ul>
		
		<div>  
		
		<!-- actual results -->
		<div id="summary-anchor">
			<div id="summary" {{bind-attr class=":compound_summary fixSummaryBox:fix-summary-box:free-summary-box"}}>
			
			<div id="target-image" {{bind-attr class=":span2 :small-padding-top :big-padding-bottom infoHide:hide:"}}>{{target_image_src seeAlso}}</div>
			<div class="row">
				<div class="span12">
    				<h3>{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}{{#if notEmpty}} ({{currentCount}} of {{totalCount}} results loaded){{/if}}<a href="#targetPharmaFilterModalView" role="button" class="btn small-margin-left" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a><a href="#targetPharmaDownload" {{action "tsvDownload" this}} role="button" class="btn small-margin-left" data-toggle="modal" title="Click to create in TSV formatted compound pharmacology results">Create TSV</a></h3>
   					<div class="row">
      					<div class="span6 justify normal-font">{{expandableDescription description}}</div>
    				</div>
  				</div>
			</div>

			</div>
	
		</div>
		</div>
	
	<!-- RESULT LISTING -->
    {{#if haveRecords}}
	<div style="padding:30px">	
	<table class="mytable" style="border-spacing: 0;">

		<thead class="headingstyle">
			<tr>
				<th colspan="1" class="centre" style="border-right: 2px solid white; padding: 7px;">Compound</th>
				<th colspan="1" class="centre" style="border-right: 2px solid white; padding: 7px;">Target</th>
				<th colspan="2" class="centre" style="border-right: 2px solid white; padding: 7px;">Assay</th>
				<th colspan="4" class="centre" style="border-right: 2px solid white; padding: 7px;">Activity</th>
				<th style="border-right: 2px solid white;"></th>
				{{!-- <th></th>
				<th></th>
				<th></th> --}}
                <th style="border-right: 2px solid white; padding: 7px;"></th>
			</tr>
			<tr>
				<!-- Each header has an action which triggers when clicked and asks the controller to sort the column -->
				<!-- The header also has an icon which is shown if controller says that it is sorted. A controller bound -->
				<!-- CSS class is used to style the header when it is selected-->
				<th {{action "sortHeader" "compound_name"}} {{bind-attr class="compoundNameSortASC:sortASC compoundNameSortDESC:sortDESC :th-hover"}} style="width: 20%; border-right: 2px solid white; padding: 7px;" title="Click to sort">Name{{#if compoundNameSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if compoundNameSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "target_organism"}} {{bind-attr class="targetOrganismSortASC:sortASC targetOrganismSortDESC:sortDESC :th-hover"}} title="Click to sort" style="width: 10%; border-right: 2px solid white; padding: 7px;">Organism{{#if targetOrganismSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if targetOrganismSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 10%" {{action "sortHeader" "assay_organism"}} {{bind-attr class="assayOrganismSortASC:sortASC assayOrganismSortDESC:sortDESC :th-hover"}} title="Click to sort">Organism{{#if assayOrganismSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if assayOrganismSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "assay_description"}} {{bind-attr class="assayDescriptionSortASC:sortASC assayDescriptionSortDESC:sortDESC :th-hover"}} title="Click to sort" style="width: 30%; border-right: 2px solid white; padding: 7px;">Description{{#if assayDescriptionSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if assayDescriptionSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%" {{action "sortHeader" "activity_type"}} {{bind-attr class="activityTypeSortASC:sortASC activityTypeSortDESC:sortDESC :th-hover"}} title="Click to sort">Type{{#if activityTypeSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if activityTypeSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
			 	<th style="width: 5%" {{action "sortHeader" "activity_relation"}} {{bind-attr class="activityRelationSortASC:sortASC activityRelationSortDESC:sortDESC :th-hover"}} title="Click to sort">Relation{{#if activityRelationSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if activityRelationSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%" {{action "sortHeader" "activity_value"}} {{bind-attr class="activityValueSortASC:sortASC activityValueSortDESC:sortDESC :th-hover"}} title="Click to sort">Value{{#if activityValueSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if activityValueSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "activity_unit"}} {{bind-attr class="activityUnitSortASC:sortASC activityUnitSortDESC:sortDESC :th-hover"}} title="Click to sort" style="width: 5%; border-right: 2px solid white; padding: 7px;">Units{{#if activityUnitSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if activityUnitSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "molweight"}} {{bind-attr class="molweightSortASC:sortASC molweightSortDESC:sortDESC :th-hover"}} title="Click to sort" style="width: 5%; border-right: 2px solid white; padding: 7px;">Mol Weight{{#if molweightSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if molweightSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				{{!-- <th {{action "sortHeader" "smiles"}} {{bind-attr class="smilesSortASC:sortASC smilesSortDESC:sortDESC :th-hover"}} title="Click to sort">SMILES{{#if smilesSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if smilesSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "inchi"}} {{bind-attr class="inchiSortASC:sortASC inchiSortDESC:sortDESC :th-hover"}} title="Click to sort">InChi{{#if inchiSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchiSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "inchi_key"}} {{bind-attr class="inchikeySortASC:sortASC inchikeySortDESC:sortDESC :th-hover"}} title="Click to sort">InChiKey{{#if inchikeySortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchikeySortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th> --}}
                <th style="width: 5%" {{action "sortHeader" "pChembl"}} {{bind-attr class="pchemblSortASC:sortASC pchemblSortDESC:sortDESC :th-hover"}} title="Click to sort">pChembl{{#if pchemblSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if pchemblSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>

			</tr>
		</thead>
		<tbody>
		{{#if showPharmaProvenance}}
			{{#each pharmaRecord in pharmacology}}
			<tr class="record-deco">
				<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=pharmaRecord.csCompoundUri)}}{{pharmaRecord.compoundPrefLabel}}{{/link-to}}</td>
				<td class="cell-basictext">{{#each pharmaRecord.targetOrganisms}} {{this.organism}} {{/each}}</td>
				<td class="cell-basictext">{{pharmaRecord.assayOrganism}} {{provenanceLinkout pharmaRecord.assayOrganismItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="cell-longtext">{{pharmaRecord.assayDescription}} {{provenanceLinkout pharmaRecord.assayDescriptionItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityActivityType}} {{provenanceLinkout pharmaRecord.activityActivityTypeItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityRelation}} {{provenanceLinkout pharmaRecord.activityRelationItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityStandardValue}} {{provenanceLinkout pharmaRecord.activityStandardValueItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityStandardUnits}} {{provenanceLinkout pharmaRecord.activityStandardUnitsItem pharmaRecord.chemblProvenance.source}}</td>
				<td class="cell-basictext" >{{pharmaRecord.compoundFullMwt}} {{provenanceLinkout pharmaRecord.compoundFullMwtItem pharmaRecord.chemblProvenance.source}}</td>
				{{!-- <td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundSmiles}} {{provenanceLinkout pharmaRecord.compoundSmilesItem pharmaRecord.chemspiderProvenance.source}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundInchi}} {{provenanceLinkout pharmaRecord.compoundInchiItem pharmaRecord.chemspiderProvenance.source}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundInchikey}} {{provenanceLinkout pharmaRecord.compoundInchikeyItem pharmaRecord.chemspiderProvenance.source}}</td> --}}
				<td class="cell-basictext" >{{pChembl}}</td>
			</tr>
			{{/each}}
		{{else}}
			{{#each pharmaRecord in pharmacology}}
			<tr class="record-deco">
				<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=pharmaRecord.csCompoundUri)}}{{pharmaRecord.compoundPrefLabel}}{{/link-to}}</td>
				<td class="cell-basictext">{{#each pharmaRecord.targetOrganisms}} {{this.organism}} {{/each}}</td>
				<td class="cell-basictext">{{pharmaRecord.assayOrganism}}</td>
				<td class="cell-longtext">{{pharmaRecord.assayDescription}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityActivityType}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityRelation}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityStandardValue}}</td>
				<td class="lead cell-basictext">{{pharmaRecord.activityStandardUnits}}</td>
				<td class="cell-basictext" >{{pharmaRecord.compoundFullMwt}}</td>
				{{!-- <td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundSmiles}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundInchi}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{pharmaRecord.compoundInchikey}}</td> --}}
				<td class="cell-basictext" >{{pharmaRecord.pChembl}}</td>
			</tr>
			{{/each}}
        {{/if}}
		</tbody>
	</table>
	</div>
	{{/if}}
	{{#if fetchingCount}}
	    <h2 class="centre">Checking pharmacology data for {{prefLabel}}</h2>
    {{/if}}
    {{#if noRecords}}
        <h2 class="centre">There is no pharmacology data for {{prefLabel}}</h2>
    {{/if}}
		
</div>
