<div id="summary-anchor">
	<div id="summary" {{bind-attr class=":compound_summary fixSummaryBox:fix-summary-box:free-summary-box"}}>
		<div id="target-image" {{bind-attr class=":hidden-xs :left :medium-padding infoHide:hide:"}}>{{target_image_src seeAlso}}</div>
		<h3 class="medium-padding-left">{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}{{#if notEmpty}} ({{currentCount}} of {{totalCount}} results loaded){{/if}}</h3>
		<!-- Options -->
		<div class="hidden-xs hidden-sm">
			<a href="#targetPharmaFilterModalView" class="small-margin-bottom btn btn-default" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
			<button class="small-margin-bottom btn btn-default" {{action "tsvDownload" this}} title="Click to create TSV formatted target pharmacology results">Create TSV</button>
			<span class="button-group" data-toggle="buttons">
				<label {{action 'enableProvenance'}} class="small-margin-bottom btn btn-default">
					<input type="radio" name="options" id="option1" checked>Show provenance
				</label>
				<label {{action 'disableProvenance'}} class="small-margin-bottom btn btn-default active">
					<input type="radio" name="options" id="option2">Hide provenance
				</label>
			</span>
		</div>
		<div class="hidden-md hidden-lg">
			<!-- Show as dropdown on smaller screens -->
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Options <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li {{bind-attr class="showProvenance:disabled:"}}><a href="#" {{action 'enableProvenance'}}>Show provenance</a></li>
					<li {{bind-attr class="showProvenance::disabled"}}><a href="#" {{action 'disableProvenance'}}>Hide provenance</a></li>
					<li class="divider"></li>
					<li><a href="#targetPharmaFilterModalView" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a></li>
					<li><a href="#" {{action "tsvDownload" this}} title="Click to create TSV formatted target pharmacology results">Create TSV</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
