<div class="col-xs-12 col-sm-9 col-sm-push-3">
	{{#if model.alternativeName}}
	<div class="large-top-spacing">
		{{#if showProvenance}}
		<em>{{model.alternativeName}} {{provenanceLinkout model.uniprotProvenance.alternativeName model.uniprotProvenance.source}}</em>
		{{else}}
		<em>{{model.alternativeName}}</em>
		{{/if}}
	</div>
	{{/if}}
	<!--details-->
	<div class="dl-horizontal">
		<dl class="dl-text-left">
			{{#if model.organism}}
			<dt>Organism</dt>
			{{#if showProvenance}}
			<dd>{{linkableOrganism model.organism}} {{provenanceLinkout model.uniprotProvenance.organism model.uniprotProvenance.source}}</dd>
			{{else}}
			<dd>{{linkableOrganism model.organism}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.existence}}
			<dt>Existence</dt>
			{{#if showProvenance}}
			<dd>{{linkableOrganism model.existence}} {{provenanceLinkout model.uniprotProvenance.existence model.uniprotProvenance.source}}</dd>
			{{else}}
			<dd>{{linkableOrganism model.existence}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.functionAnnotation}}
			<dt>Specific Function</dt>
			{{#if showProvenance}}
			<dd>{{model.functionAnnotation}} {{provenanceLinkout model.uniprotProvenance.functionAnnotation model.uniprotProvenance.source}}</dd>
			{{else}}
			<dd>{{model.functionAnnotation}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.cellularLocation}}
			<dt>Cellular Location</dt>
			{{#if showProvenance}}
			<dd>{{model.cellularLocation}}  {{provenanceLinkout model.drugbankProvenance.cellularLocation model.drugbankProvenance.source}}</dd>
			{{else}}
			<dd>{{model.cellularLocation}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.keywords}}
			<dt>Keywords</dt>
			{{#if showProvenance}}
			<dd>{{model.keywords}}  {{provenanceLinkout model.chemblProvenance.keywords model.chemblProvenance.source}}</dd>
			{{else}}
			<dd>{{model.keywords}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.seeAlso}}
			<dt>PDB</dt>
			{{#if showProvenance}}
			<dd>{{provenanceLinkout model.uniprotProvenance.seeAlso model.uniprotProvenance.source}} {{#each sa in model.seeAlso}} {{pdbLink sa}} {{/each}}</dd>
			{{else}}
			<dd>{{#each sa in model.seeAlso}} {{pdbLink sa}} {{/each}}</dd>
			{{/if}}
			{{/if}}

			{{#if model.sequence}}
			<dt>Sequence</dt>
			{{#if showProvenance}}
			<dd><div style="max-width:500px;word-wrap:break-word;">{{model.sequence}} {{provenanceLinkout model.uniprotProvenance.sequence model.uniprotProvenance.source}}</div></dd>
			{{else}}
			<dd><div style="max-width:500px;word-wrap:break-word;">{{model.sequence}}</div></dd>
			{{/if}}
			{{/if}}

		</dl>
	</div>
</div>
