<div class="col-xs-12 col-md-12">
	<div class="centre col-xs-12 col-md-3">{{target_image_src seeAlso}}</div>
	<!--title and formula-->
	<div class="col-xs-12 col-md-9">
		{{#if showProvenance}}
		<h1 class="break-word">{{prefLabel}} {{provenanceLinkout conceptwikiProvenance.prefLabel conceptwikiProvenance.source}}</h1>
		{{else}}
		<h1 class="break-word">{{prefLabel}}</h1>
		{{/if}}
	</div>
</div>
