<tbody>
	{{#each pharmaRecord in pharmacology}}
	<tr class="record-deco">
		<td>{{#link-to "compounds.draw" (query-params smiles=pharmaRecord.compoundSmiles) title="Draw this compound"}}{{cs_image_src pharmaRecord.csCompoundUri}}{{/link-to}}</td>
		<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=pharmaRecord.csCompoundUri)}}{{pharmaRecord.compoundPrefLabel}}{{/link-to}}</td>
		<td class="cell-basictext">{{#each pharmaRecord.targetOrganisms}} {{this.organism}} {{/each}}</td>
		<td class="cell-basictext">{{pharmaRecord.assayOrganism}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.assayOrganismItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-longtext">{{pharmaRecord.assayDescription}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.assayDescriptionItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext">{{pharmaRecord.activityActivityType}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.activityActivityTypeItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext">{{pharmaRecord.activityRelation}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.activityRelationItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext">{{pharmaRecord.activityStandardValue}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.activityStandardValueItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext">{{pharmaRecord.activityStandardUnits}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.activityStandardUnitsItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext">{{pharmaRecord.compoundFullMwt}} {{#if showProvenance}}{{provenanceLinkout pharmaRecord.compoundFullMwtItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-basictext" >{{pharmaRecord.pChembl}}{{#if showProvenance}}{{#if pharmaRecord.pChembl}}<span class="pchembl-prov">(<a href="https://www.ebi.ac.uk/chembl/faq#faq67" title="Click to view pChembl definition"><i class="fa fa-question"></i></a>)</span>{{/if}}{{/if}}</td>
	</tr>
	{{/each}}
</tbody>
