<div class="col-xs-12 col-sm-3 col-sm-pull-9">
	<!--box properties-->
	<div id="boxes">
		{{#if molecularWeight}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small>Molecular Weight</small></p>
				<p class="lead">{{molecularWeight}} {{#if showProvenance}}{{provenanceLinkout uniprotProvenance.molecularWeight uniprotProvenance.source}}{{/if}}</p>
			</div>
		</div>
		{{/if}}

		{{#if numberOfResidues}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small># of Residues</small></p>
				<p class="lead">{{numberOfResidues}} {{#if showProvenance}}{{provenanceLinkout drugbankProvenance.numberOfResidues drugbankProvenance.source}}{{/if}}</p>
			</div>
		</div>
		{{/if}}

		{{#if theoreticalPi}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small>Theoretical Pi</small></p>
				<p class="lead">{{theoreticalPi}} {{#if showProvenance}}{{provenanceLinkout drugbankProvenance.theoreticalPi drugbankProvenance.source}}{{/if}}</p>
			</div>
		</div>
		{{/if}}
	</div>
</div>
