<!-- Modal -->
<div id="compoundPharmaFilterModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Select filters for {{this.prefLabel}}</h3>
			</div>
			<div class="modal-body" style="overflow-y: visible;">
				<div id="activity-filters">
					<p><h4>Activity Filter</h4></p>
					<div class="row">
						<div class="col-sm-2">
							{{view "select"
							content=activityTypes
							optionLabelPath="content.label"
							prompt="Select an activity"
							value=selectedActivity
							selection=selectedActivity
							}}
						</div>
						<div class="col-sm-2">
							{{view "select"
							content=conditions
							prompt="Select an operator"
							value=selectedCondition
							selection=selectedCondition
							}}
						</div>
						<div class="col-sm-4">
							{{input type="text" class="form-control" placeholder="Enter an activity value" value=activityValue id="activityValueInput"}}
						</div>
						<div class="col-sm-2">
							{{view "select"
							content=activityUnits
							optionLabelPath="content.label"
							prompt="Select a unit"
							value=selectedUnit
							selection=selectedUnit
							}}
						</div>
					</div>
				</div>
				<div>
					<h5>Return activities with the following relation(s) only</h5>
					<label class="checkbox-inline">&gt;{{input type="checkbox" checkedBinding="greaterThan" classNames="relation-checkbox"}}</label>
					<label class="checkbox-inline">&lt;{{input type="checkbox" checkedBinding="lessThan" classNames="relation-checkbox"}}</label>
					<label class="checkbox-inline">={{input type="checkbox" checkedBinding="equalTo" classNames="relation-checkbox"}}</label>
					<label class="checkbox-inline">&ge;{{input type="checkbox" checkedBinding="greaterThanOrEqual" classNames="relation-checkbox"}}</label>
					<label class="checkbox-inline">&le;{{input type="checkbox" checkedBinding="lessThanOrEqual" classNames="relation-checkbox"}}</label>
				</div>
				<div id="pchembl-filters">
					<p><h4>pChembl Filter</h4></p>
					<div class="row form-group">
						<div class="col-sm-2">
							{{view "select"
							content=pchemblConditions
							prompt="Select an operator"
							value=selectedPchemblCondition
							selection=selectedPchemblCondition
							}}
						</div>
						<div class="col-sm-4">
							{{input type="text" class="form-control" placeholder="Enter a pchembl value" value=pchemblValue id="pchemblValueInput"}}
						</div>
					</div>
				</div>
				<div>
					<p><h4>Organism filters</h4></p>
					<div class="row">
						<h5 class="inline col-md-1">Assay:</h5> {{input type="text" class="form-control"placeholder="Assay organism name" value=assayOrganismQuery action="fetchOrganism" id="assay_organism_box" autocomplete="off"}}
					</div>
					<div class="row">
						<h5 class="inline col-md-1">Target:</h5> {{input type="text" class="form-control" placeholder="Target organism name" value=targetOrganismQuery action="fetchOrganism" id="target_organism_box" autocomplete="off"}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-warning" {{action "resetFilters"}} title="Reset the filters to default values">Reset filters</button>
				<button class="btn btn-primary" {{action "applyFilters"}} title="Apply the filters you have selected">Apply filters</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal -->
