<div class="col-xs-12 col-sm-12">
	<div class="col-xs-12 col-sm-3">{{cs_image_src csURI '100%' '100%'}}</div>
	<!--title and formula-->
	<div class="col-xs-12 col-sm-9 no-padding-left">
		{{#if showProvenance}}
		<h1 class="break-word">
		{{#if prefLabel}}{{prefLabel}}{{provenanceLinkout cwURI 'conceptwiki'}}{{else}}<span class="muted">No label</span>{{/if}}
		</h1>
		{{else}}
		<h1 class="break-word">
			{{#if prefLabel}}{{prefLabel}}<i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{else}}<span class="muted">No label</span><i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{/if}}
		</h1>
		{{/if}}
	</div>
</div>
