<div class="col-xs-12 col-sm-3 col-sm-pull-9">
	<!--box properties-->
	<div id="boxes">
		{{#if model.logp}}
		<div class="summary-box no-top-margin">
			<div class="inner-property-content">
				<p><small>AlogP</small></p>
				{{#if showProvenance}}
				<p class="lead" id="logp-provenance">{{model.logp}} {{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.logp}}</p>
				{{/if}}

			</div>
		</div>
		{{/if}}

		{{#if model.hba}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small># H-Bond Acceptors</small></p>
				{{#if showProvenance}}
				<p class="lead" id="hba-provenance">{{model.hba}} {{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.hba}}</p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{#if model.hbd}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small># H-Bond Donors</small></p>
				{{#if showProvenance}}
				<p class="lead" id="hbd-provenance">{{model.hbd}} {{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.hbd}}</p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{#if model.fullMWT}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small>Mol Weight</small></p>
				{{#if showProvenance}}
				<p class="lead" id="mwt-provenance">{{model.fullMWT}} {{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.fullMWT}}</p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{#if model.mwFreebase}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small>Mol Weight Freebase</small></p>
				{{#if showProvenance}}
				<p class="lead" id="freebase-provenance">{{model.mwFreebase}} {{provenanceLinkout model.chemblURI 'chembl'}}</p>
				{{else}}
				<p class="lead">{{model.mwFreebase}}</p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{#if model.psa}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small>Polar Surface Area</small></p>
				{{#if showProvenance}}
				<p class="lead" id="psa-provenance">{{model.psa}} <span class="smaller-font">&#x212b; <sup>2</sup></span>{{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.psa}} <span class="smaller-font">&#x212b;<sup>2</sup></span></p>
				{{/if}}
			</div>
		</div>
		{{/if}}
		{{#if model.rtb}}
		<div class="summary-box">
			<div class="inner-property-content">
				<p><small># Rotatable Bonds</small></p>
				{{#if showProvenance}}
				<p class="lead" id="rtb-provenance">{{model.rtb}} {{provenanceLinkout model.csURI 'chemspider'}}</p>
				{{else}}
				<p class="lead">{{model.rtb}}</p>
				{{/if}}
			</div>
		</div>
		{{/if}}

	</div>
</div>
