<div id="summary-anchor">
	<div id="summary" {{bind-attr class=":compound_summary fixSummaryBox:fix-summary-box:free-summary-box"}}>
		<div id="compound-image" {{bind-attr class=":hidden-xs :left :small-padding infoHide:hide:"}}>{{cs_image_src csURI}}</div>
		<h3 class="medium-padding-left">{{#link-to "compounds.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}{{#if notEmpty}} ({{currentCount}} of {{totalCount}} results loaded){{/if}}</h3>
		<!-- Options -->
		<div>
			<a href="#compoundPharmaFilterModalView" class="small-margin-bottom btn btn-default" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
			<button class="btn btn-default small-margin-bottom" {{action "tsvDownload" this}} title="Click to create in TSV formatted compound pharmacology results">Create TSV</button>
			<span class="button-group" data-toggle="buttons">
				<label {{action 'enableProvenance'}} class="small-margin-bottom btn btn-default">
					<input type="radio" name="options" id="option1" checked>Show provenance
				</label>
				<label {{action 'disableProvenance'}} class="small-margin-bottom btn btn-default active">
					<input type="radio" name="options" id="option2">Hide provenance
				</label>
			</span>
		</div>
	</div>
</div>
