<div class="col-xs-12 col-sm-9 col-sm-offset-3">
	<!--description-->

	{{#if description}}
	<div class="summary-descriptive-text large-top-spacing">
		{{#if showProvenance}}
		<p id="description-provenance">{{model.description}}</p>{{provenanceLinkout model.drugbankURI 'drugbank'}}
		{{else}}
		<p>{{model.description}}</p>
		{{/if}}
	</div>

	{{/if}}
	<!--biotransformation-->

	{{#if biotransformation}}
	<div class="summary-descriptive-text small-top-spacing">
		{{#if showProvenance}}
		<p id="biotrans-provenance">{{model.biotransformation}}</p>{{provenanceLinkout model.drugbankURI 'drugbank'}}
		{{else}}
		<p>{{model.biotransformationItem}}</p>
		{{/if}}
	</div>
	{{/if}}
</div>
