<div class="col-xs-12 col-sm-12">
	<div class="col-xs-12 col-sm-3">{{cs_image_src csURI '100%' '100%'}}</div>
	<!--title and formula-->
	<div class="col-xs-12 col-sm-9 no-padding-left">
		{{#if showProvenance}}
		<h1 class="break-word">
			{{#if prefLabel}}{{prefLabel}}<i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{provenanceLinkout cwURI 'conceptwiki'}}{{else}}<span class="muted">No label</span><i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{/if}}
		</h1>
		{{else}}
		<h1 class="break-word">
			{{#if prefLabel}}{{prefLabel}}<i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{else}}<span class="muted">No label</span><i title="Click to add to favourites" {{action 'changeFavouriteStatus'}}{{bind-attr class=":middle :fa favourite:fa-star:fa-star-o"}}></i>{{/if}}
		</h1>
		{{/if}}
	</div>
	<div class="hidden-sm hidden-md hidden-lg">
		{{view Ember.Select
		content=lenses
		optionLabelPath="content.name"
		optionValuePath="content.uri"
		prompt="Select a Lens"
		value=defaultLens
		selection=selectedLens
		}}
		<button class="btn btn-default" title="Apply the selected lens" {{action "applyLens"}}>Apply</button>
		<button class="btn btn-default" title="Reset the lens back to 'default'" {{action "resetLens"}}>Reset</button>
		<a id="lenses-popover" class="inline"><i class="icon-question-sign" title="Show/hide lens descriptions"></i></a>
	</div>

</div>
