<div id="summary-anchor">
	<div id="summary" {{bind-attr class=":compound_summary fixSummaryBox:fix-summary-box:free-summary-box"}}>
		<div id="compound-image" {{bind-attr class=":hidden-xs :left :small-padding infoHide:hide:"}}>{{cs_image_src csURI}}</div>
		<h3 class="medium-padding-left">{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}{{#if notEmpty}} ({{currentCount}} of {{totalCount}} results loaded){{/if}}</h3>
		<!-- Options -->
		<span class="medium-padding-left text-bottom">
			<a href="#targetPharmaFilterModalView" class="btn btn-default" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
			<button class="btn btn-default" {{action "tsvDownload" this}} title="Click to create in TSV formatted compound pharmacology results">Create TSV</button>
			<span class="col-xs-1 col-md-1 inline-block middle input-group">
				<span class="input-group-addon">Provenance</span>
				<span class="input-group-btn" data-toggle="buttons">
					<label {{action 'enableProvenance'}} class="btn btn-default">
						<input type="radio" name="options" id="option1" checked>Show
					</label>
					<label {{action 'disableProvenance'}} class="btn btn-default active">
						<input type="radio" name="options" id="option2">Hide
					</label>
				</span>
			</span>
		</span>
	</div>
</div>
