<!-- breadcrumb	-->
<div class="breadcrumb">
	<ul class="breadcrumb inline">
		<li><a href="/">Home</a></li>
		<li>{{prefLabel}}</li>
		<li class="active">Compound Information</li>
	</ul>
	<span class="pull-right" style="margin-top: -6px;">
		<span class="small-padding-top small-padding-right">Provenance </span>
		<span class="btn-group" data-toggle="buttons">
			<label {{action 'enableProvenance'}} class="btn btn-default">
				<input type="radio" name="options" id="option1" checked>On
			</label>
			<label {{action 'disableProvenance'}} class="btn btn-default active">
				<input type="radio" name="options" id="option2">Off
			</label>
		</span>
	</span>
</div>

<!-- main -->
<div class="container">
	<div class="large-top-spacing">
		<div class="row">
			<!--Sidebar content-->
			<div class="col-md-3">
				{{partial "compounds/compoundInfoSidebar"}}
			</div>

			<!--Body content-->
			<div class="col-md-8">
				<div>
					<!--title and formula-->
					{{partial "compounds/compoundInfoTitle" }}
				</div>
				<div>
					<!--details-->
					{{partial "compounds/compoundInfoList"}}
				</div>
			</div>
		</div>
	</div>
</div>
