<!-- breadcrumb	-->
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{prefLabel}}</li>
	<li class="active">Compound Information</li>
</ul>

<!-- main -->
<div class="container">
	<div class="large-top-spacing">
		<div class="row">
			{{partial "compounds/compoundInfoButtons"}}
			<!--title and formula-->
			{{partial "compounds/compoundInfoTitle" }}
			{{partial "compounds/compoundInfoDescription"}}
			{{partial "compounds/compoundInfoList"}}
			<!-- On medium and above size screens the sidebar is a sidebar using col-xs-pull-3. On small screens it flows below -->
			{{partial "compounds/compoundInfoSidebar"}}
		</div>
	</div>
</div>
