{{partial "compounds/compoundPharmacologyFiltersModal"}}
<div class="goto-button" id="top">
	<button class="btn btn-default btn-sm" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button>
</div>
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{#link-to "compounds.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</li>
	<li class="active">Compound Pharmacology</li>
</ul>

{{partial "compounds/compoundPharmacologySummary"}}
{{#if notEmpty}}
<!-- RESULT LISTING -->
<div class="huge-padding-top table-responsive">
	<table>
		{{partial "compounds/compoundPharmacologyTableHeader"}}
		{{partial "compounds/compoundPharmacologyTableBody"}}
	</table>
</div>
{{else}}
<h2 class="centre">There is no pharmacology data for {{prefLabel}}</h2>
{{/if}}
