<!-- Modal -->
<div id="compoundPharmaFilterModalView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Select filters for {{this.prefLabel}}</h3>
    </div>
    <div class="modal-body" style="overflow-y: visible;">
        <div id="activity-filters">
            <p><h4>Activity Filter</h4></p>
		    {{view Ember.Select
		       content=activityTypes
		       optionLabelPath="content.label"
		       prompt="Select an activity"
		       value=selectedActivity
		       selection=selectedActivity
		    }}
		    {{view Ember.Select
		       content=conditions
		       prompt="Select an operator"
               value=selectedCondition
		       selection=selectedCondition
		    }}
		    {{input type="text" placeholder="Enter an activity value" value=activityValue id="activityValueInput"}}
		    {{view Ember.Select
		       content=activityUnits
		       optionLabelPath="content.label"
		       prompt="Select a unit"
               value=selectedUnit
		       selection=selectedUnit
		    }}
        </div>
        <div>
            <h5>Return activities with the following relation(s) only</h5>
            <p class="small-padding-right activity-relation-operator">></p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThan" classNames="relation-checkbox"}}</p>
            <p class="small-padding-right activity-relation-operator"><</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThan" classNames="relation-checkbox"}}</p>
            <p class="small-padding-right activity-relation-operator">=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="equalTo" classNames="relation-checkbox"}}</p>
            <p class="small-padding-right activity-relation-operator">>=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThanOrEqual" classNames="relation-checkbox"}}</p>
            <p class="small-padding-right activity-relation-operator"><=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThanOrEqual" classNames="relation-checkbox"}}</p>
        </div>
        <div id="pchembl-filters">
	        <p><h4>pChembl Filter</h4></p>
		    {{view Ember.Select
		       content=pchemblConditions
		       prompt="Select an operator"
               value=selectedPchemblCondition
		       selection=selectedPchemblCondition
		    }}
		    {{input type="text" placeholder="Enter a pchembl value" value=pchemblValue id="pchemblValueInput"}}
        </div>
        <div>
	        <p><h4>Organism filters</h4></p>
            <div>
                <h5 style="display: inline;">Assay:</h5> {{input type="text" placeholder="Enter name of an assay organism" value=assayOrganismQuery action="fetchOrganism" id="assay_organism_box" autocomplete="off"}}
            </div>
            <div>
                <h5 style="display: inline;">Target:</h5> {{input type="text" placeholder="Enter name of a target organism" value=targetOrganismQuery action="fetchOrganism" id="target_organism_box" autocomplete="off"}}
            </div>
        </div>
	</div>
	<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-warning" {{action "resetFilters"}} title="Reset the filters to default values">Reset filters</button>
	    <button class="btn btn-primary" {{action "applyFilters"}} title="Apply the filters you have selected">Apply filters</button>
	</div>
</div>
<!-- End of Modal -->
<div class="goto-button" id="top">
    <button class="btn btn-small" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button>
</div>
<div class="breadcrumb">
    <ul class="breadcrumb inline">
  	    <li><a href="/">Home</a></li>
  		<li>{{#link-to "compounds.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</li>
		<li class="active">Compound Pharmacology</li>
	</ul>	
<span class="pull-right" style="margin-top: -6px;"> 
		<span class="small-padding-top small-padding-right">Provenance </span>
		<span class="btn-group" data-toggle="buttons">
				<label {{action 'enableProvenance'}} class="btn btn-default">
					      <input type="radio" name="options" id="option1" checked>On
					        </label>
						<label {{action 'disableProvenance'}} class="btn btn-default active">
							<input type="radio" name="options" id="option2">Off
							        </label>
									</span>
		</span>
</div>  
<!-- actual results -->
<div id="summary-anchor">
	<div id="summary" {{bind-attr class=":compound_summary fixSummaryBox:fix-summary-box:free-summary-box"}}>		
		<div id="compound-image" {{bind-attr class=":span2 :small-padding-top :big-padding-bottom infoHide:hide:"}}>{{cs_image_src csURI}}</div>
		<div class="row">
			<div {{bind-attr class=":left infoHide:big-padding-left:"}}>
				<h3 class="inline">{{#link-to "compounds.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}} ({{currentCount}} of {{totalCount}} results loaded)</h3>
				<a href="#compoundPharmaFilterModalView" role="button" class="btn small-margin-left" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
				<a href="#compoundPharmaDownload" {{action "tsvDownload" this}} role="button" class="btn small-margin-left" data-toggle="modal" title="Click to create in TSV formatted compound pharmacology results">Create TSV</a>
	    
				{{!--  <div><a href="#compoundPharmaFilterModalView" role="button" class="btn small-margin-left" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
					<a href="#compoundPharmaDownload" {{action "tsvDownload" this}} role="button" class="btn small-margin-left" data-toggle="modal" title="Click to create in TSV formatted compound pharmacology results">Create TSV</a></div> --}}
		<div {{bind-attr class=":row infoHide:hide:"}}>
			<div id="formula" class="span2 lead centre">{{formatMolecularFormula molform}}</div>
      				<div class="span6 justify normal-font small-margin-top">{{expandableDescription description}}</div>
    			</div>
  			</div>
			{{!-- <button id="toggle-summary" type="button" {{bind-attr class=":btn :btn-link :pull-right hideInfo:hide:"}} data-target="#summary">less</button> --}}

			<div id="structure" {{bind-attr class=":span5 :small-padding-top infoHide:hide:"}}>
				{{!-- <button  type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">SMILES and InChIs</button> --}}
				<div id="demo" class="out dl-horizontal" style="font-size:13px;">
					<dl>
  						<dt>SMILES</dt>
  						<dd>{{smiles}}</dd>
  						<dt>Standard InChi</dt>
  						<dd>{{inchi}}</dd>
  						<dt>Standard InChiKey</dt>
  						<dd>{{inchiKey}}</dd>
					</dl>
				</div>
  			</div>
		</div>
	</div>
</div>
{{#if notEmpty}}
<!-- RESULT LISTING -->
<div class="row "style="padding:30px">
	<table class="">
		<thead class="headingstyle" style="border-spacing: 0;">
			<tr>
				<th colspan="2" class="centre" style="border-right: 2px solid white; padding: 7px;">Target</th>
				<th colspan="2" class="centre" style="border-right: 2px solid white; padding: 7px;">Assay</th>
				<th colspan="4" class="centre" style="border-right: 2px solid white; padding: 7px;">Activity</th>
				{{!-- <th style="border-right: 2px solid white; padding: 7px;"></th>
				<th style="border-right: 2px solid white; padding: 7px;"></th>
				<th style="border-right: 2px solid white; padding: 7px;"></th> --}}
				<th style="border-right: 2px solid white; padding: 7px;"></th>
				<th style="border-right: 2px solid white; padding: 7px;"></th>
			</tr>	
			<tr>
				<!-- Each header has an action which triggers when clicked and asks the controller to sort the column -->
				<!-- The header also has an icon which is shown if controller says that it is sorted. A controller bound -->
				<!-- CSS class is used to style the header when it is selected-->
				<th style="width: 20%" {{action "sortHeader" "target_name"}} title="Click to sort" {{bind-attr class="targetNameSortASC:sortASC targetNameSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Name</span><span>{{#if targetNameSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if targetNameSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 10%; border-right: 2px solid white; padding: 7px;" {{action "sortHeader" "target_organism"}} {{bind-attr class="targetOrganismSortASC:sortASC targetOrganismSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Organism</span><span>{{#if targetOrganismSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if targetOrganismSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 10%" title="Click to sort" {{action "sortHeader" "assay_organism"}} {{bind-attr class="assayOrganismSortASC:sortASC assayOrganismSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Organism</span><span>{{#if assayOrganismSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if assayOrganismSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to start" style="width: 30%; border-right: 2px solid white; padding: 7px;" {{action "sortHeader" "assay_description"}} {{bind-attr class="assayDescriptionSortASC:sortASC assayDescriptionSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Description</span><span>{{#if assayDescriptionSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if assayDescriptionSortDESC}}<i class="icon-chevron-down right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 5%" {{action "sortHeader" "activity_type"}} {{bind-attr class="activityTypeSortASC:sortASC activityTypeSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Type</span><span>{{#if activityTypeSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityTypeSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 5%" {{action "sortHeader" "activity_relation"}} {{bind-attr class="activityRelationSortASC:sortASC activityRelationSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Relation</span><span>{{#if activityRelationSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityRelationSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 5%" {{action "sortHeader" "activity_value"}} {{bind-attr class="activityValueSortASC:sortASC activityValueSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Value</span><span>{{#if activityValueSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityValueSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 5%; border-right: 2px solid white; padding: 7px;" {{action "sortHeader" "activity_unit"}} {{bind-attr class="activityUnitSortASC:sortASC activityUnitSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>Units</span><span>{{#if activityUnitSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityUnitSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort" style="width: 5%; border-right: 2px solid white; padding: 7px;" {{action "sortHeader" "pmid"}} {{bind-attr class="pmidSortASC:sortASC pmidSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>PubMed Article</span><span>{{#if pmidSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if pmidSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th title="Click to sort." style="width: 5%; border-right: 2px solid white; padding: 7px;" {{action "sortHeader" "pChembl"}} {{bind-attr class="pchemblSortASC:sortASC pchemblSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}}><span>pChembl</span><span>{{#if pchemblSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if pchemblSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
			</tr>
		</thead>
		<tbody>
			{{#each pharmaRecord in pharmacology}}
            <tr class="record-deco">
                <td style="vertical-align:middle;" height="70">
                {{#each target in pharmaRecord.targets}}
                    <p>{{#link-to "targets.index" (query-params uri=target.about)}}{{target.title}}{{/link-to}}</p>
                {{/each}}
                </td>
                <td class="cell-basictext">{{#each pharmaRecord.targetOrganisms}} {{this.organism}} {{/each}}</td>
		<td class="cell-basictext">{{assayOrganism}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.assayOrganismItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="cell-longtext">{{pharmaRecord.assayDescription}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.assayDescriptionItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="lead cell-basictext">{{pharmaRecord.activityActivityType}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.activityActivityTypeItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="lead cell-basictext">{{pharmaRecord.activityRelation}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.activityRelationItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="lead cell-basictext">{{pharmaRecord.activityValue}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.activityActivityTypeItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
		<td class="lead cell-basictext">{{pharmaRecord.activityStandardUnits}} {{#if showPharmaProvenance}}{{provenanceLinkout pharmaRecord.activityStandardUnitsItem pharmaRecord.chemblProvenance.source}}{{/if}}</td>
                <td class="cell-basictext">{{linkablePubmedId pharmaRecord.activityPubmedId}}</td>
		<td class="cell-basictext">{{pharmaRecord.pChembl}}{{#if showPharmaProvenance}}{{#if pharmaRecord.pChembl}}<span class="pchembl-prov">(<a href="https://www.ebi.ac.uk/chembl/faq#faq67" title="Click to view pChembl definition"><i class="fa fa-question"></i></a>)</span>{{/if}}{{/if}}</td>
            </tr>
			{{/each}}
		</tbody>
	</table>
</div>
{{else}}
    <h2 class="centre">There is no pharmacology data for {{prefLabel}}</h2>
{{/if}}
