<div>
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li>{{objectLink 'compounds' '' this.prefLabel this}} <span class="divider">/</span></li>
        <li class="active">Compound Structure</li>
        <div class="row pull-right"> 
            <div class="span1 small-padding-top small-padding-right">Provenance</div>
                <div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
                    <button class="btn">On</button>
                    <button class="btn active">Off</button>
                </div>
            </div>
        </div>
    </ul>
<div>
<div>
Total: {{totalCount}}
</div>
<div class="row btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
    <div class="span4 big-padding-left">
        <button {{bind-attr class=":btn exactSearch:active"}} {{action 'structureSearchType' 'exact'}}>Exact</button>
        <button {{bind-attr class=":btn subSearch:active"}} {{action 'structureSearchType' 'substructure'}}>Sub-structure</button>
        <button {{bind-attr class=":btn simSearch:active"}} {{action 'structureSearchType' 'similarity'}}>Similarity</button>
    </div>
</div>
<div class="row">
    <div class="span4 big-padding-left">
        {{prefLabel}}
        {{smiles}}
    </div>
</div>
	<div style="padding:30px">	
	<table class="mytable">
		<thead id="tablehead" class="headingstyle">
<tr>
    <th>URI</th>
    <th>description</th>
    <th>biotransformationItem</th>
    <th>toxicity</th>
    <th>proteinBinding</th>
    <th>prefLabel</th>
    <th>smiles</th>
    <th>chemblURI</th>
    <th>fullMWT</th>
    <th>hba</th>
    <th>hbd</th>
    <th>inchi</th>
    <th>inchiKey</th>
    <th>logp</th>
    <th>molform</th>
    <th>mwFreebase</th>
    <th>psa</th>
    <th>ro5Violations</th>
    <th>rtb</th>
    {{#if subSearch}}
        <th>relevance</th>
    {{/if}}
    {{#if simSearch}}
        <th>relevance</th>
    {{/if}}
</tr>
</thead>
<tbody>
{{#each structureRecord in structure}}
<tr class="record-deco">
    <td>{{structureRecord.URI}}</td>
    <td>{{structureRecord.description}}</td>
    <td>{{structureRecord.biotransformationItem}}</td>
    <td>{{structureRecord.toxicity}}</td>
    <td>{{structureRecord.proteinBinding}}</td>
    <td>{{objectLink 'compounds' '' structureRecord.prefLabel structureRecord}}</td>
    <td>{{structureRecord.smiles}}</td>
    <td>{{structureRecord.chemblURI}}</td>
    <td>{{structureRecord.fullMWT}}</td>
    <td>{{structureRecord.hba}}</td>
    <td>{{structureRecord.hbd}}</td>
    <td>{{structureRecord.inchi}}</td>
    <td>{{structureRecord.inchiKey}}</td>
    <td>{{structureRecord.logp}}</td>
    <td>{{structureRecord.molform}}</td>
    <td>{{structureRecord.mwFreebase}}</td>
    <td>{{structureRecord.psa}}</td>
    <td>{{structureRecord.ro5Violations}}</td>
    <td>{{structureRecord.rtb}}</td>
    {{#if subSearch}}
        <td>{{structureRecord.relevance}}</td>
    {{/if}}
    {{#if simSearch}}
        <td>{{structureRecord.relevance}}</td>
    {{/if}}
</tr>
{{/each}}
</tbody>
</table>
</div>
