<!-- Modal -->
<div id="compoundStructureFilterModalView" class="modal hide fade"  style="width: inherit;"tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Filters for {{this.prefLabel}} {{structureSearchType}}</h3>
	</div>
	<div class="modal-body" style="overflow-y: visible;">
        <table>
            <tbody>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum Molecular Weight" value=mwSelectedLowerValue id="mwLowerValueInput"}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">Molecular Weight</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum Molecular Weight" value=mwSelectedHigherValue id="mwHigherValueInput" max=maxMWT min=minMWT}}</td>
	            </tr>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum MW Freebase" value=mwFreebaseSelectedLowerValue id="mwFreebaseLowerValueInput" max=maxMWFreebase min=minMWFreebase}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">Molecular Weight Freebase</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum MW Freebase" value=mwFreebaseSelectedHigherValue id="mwFreebaseHigherValueInput" max=maxMWFreebase min=minMWFreebase}}</td>
	            </tr>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum H-Bond Acceptors" value=hBondAcceptorsSelectedLowerValue id="hBondAcceptorsLowerValueInput" max=maxHBondAcceptors min=minHBondAcceptors}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">H-bond Acceptors</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum H-Bond Acceptors" value=hBondAcceptorsSelectedHigherValue id="hBondAcceptorsHigherValueInput"}}</td>
	            </tr>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum H-Bond Donors" value=hBondDonorsSelectedLowerValue id="hBondDonorsLowerValueInput" max=maxHBondDonors min=minHBondDonors}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">H-bond Donors</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum H-Bond Donors" value=hBondDonorsSelectedHigherValue id="hBondDonorsHigherValueInput" max=maxHBondDonors min=minHBondDonors}}</td>
	            </tr>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum Log P" value=logPSelectedLowerValue id="logPLowerValueInput" max=maxLogP min=minLogP}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">logP</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum Log P" value=logPSelectedHigherValue id="logPHigherValueInput" max=maxLogP min=minLogP}}</td>
	            </tr>
                <tr>
                    <td class="small-padding-right">{{input type="text" placeholder="Minimum Polar Surface Area" value=polarSurfaceAreaSelectedLowerValue  id="polarSurfaceAreaLowerValueInput" max=maxPSA min=minPSA}}</td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="centre medium-padding-bottom">
                        <p class="structure-filter-para">Polar Surface Area</p>
                    </td>
                    <td class="medium-padding-bottom"><=</td>
                    <td class="small-padding-left">{{input type="text" placeholder="Maximum Polar Surface Area" value=polarSurfaceAreaSelectedHigherValue id="polarSurfaceAreaHigherValueInput" max=maxPSA min=minPSA}}</td>
               </tr>
               <tr>
                   <td class="small-padding-right">{{input type="text" placeholder="Minimum Rule of 5 Violations" value=ro5SelectedLowerValue id="ro5LowerValueInput" max=maxRO5 min=minRO5}}</td>
                   <td class="medium-padding-bottom"><=</td>
                   <td class="centre medium-padding-bottom">
                       <p class="structure-filter-para">Rule of 5 Violations</p>
                   </td>
                   <td class="medium-padding-bottom"><=</td>
                   <td class="small-padding-left">{{input type="text" placeholder="Maximum Rule of 5 Violations" value=ro5SelectedHigherValue id="ro5HigherValueInput" max=maxRO5 min=minRO5}}</td>
	           </tr>
               <tr>
                   <td class="small-padding-right">{{input type="text" placeholder="Minimum Rotatable Bonds" value=rbSelectedLowerValue id="rbLowerValueInput" max=maxRB min=minRB}}</td>
                   <td class="medium-padding-bottom"><=</td>
                   <td class="centre medium-padding-bottom">
                       <p class="structure-filter-para">Number of Rotatable Bonds</p>
                   </td>
                   <td class="medium-padding-bottom"><=</td>
                   <td class="small-padding-left">{{input type="text" placeholder="Maximum Rotatable Bonds" value=rbSelectedHigherValue  id="rbHigherValueInput" max=maxRB min=minRB}}</td>
	           </tr>
	       {{#if subSearch}}
               <tr>
                   <td class="small-padding-right"></td>
                   <td></td>
                   <td class="centre medium-padding-bottom">
                       <p class="structure-filter-para">Relevance</p>
                   </td>
                   <td class="medium-padding-bottom">>=</td>
                   <td class="centre">{{input type="text" placeholder="Minimum Relevance" value=relSelectedHigherValue id="relValueInput" max=maxRel min=minRel}}</td>
	           </tr>
	       {{/if}}
	       {{#if simSearch}}
               <tr>
                   <td class="small-padding-right"></td>
                   <td></td>
                   <td class="centre medium-padding-bottom">
                       <p class="structure-filter-para">Relevance</p>
                   </td>
                   <td class="medium-padding-bottom">>=</td>
                   <td class="centre">{{input type="text" placeholder="Minimum relevance" value=relSelectedHigherValue id="relValueInput" max=maxRel min=minRel}}</td>
	           </tr>
	       {{/if}}
           </tbody>
       </table>
   </div>
   <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-warning" {{action "resetFilters"}} title="Reset the filters to default values">Reset filters</button>
       <button class="btn btn-primary" {{action "applyFilters"}} title="Apply the filters you have selected">Apply filters</button>
   </div>
</div>
<!-- End of Modal -->

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Compound Structure <span class="divider">/</span></li>
    <li>{{origSmilesValue}}</li>
    <div class="row pull-right"> 
        <div class="span1 small-padding-top small-padding-right">Provenance</div>
        <div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
		<button {{bind-attr class="showProvenance:active: :btn"}}>On</button>
		<button {{bind-attr class="showProvenance::active :btn"}}>Off</button>
        </div>
    </div>
</ul>
{{partial "compounds/structureSearchOptions"}}
	<div style="padding:30px">	
	<table class="mytable">
		<thead id="tablehead" class="headingstyle">
<tr>
				<!-- Each header has an action which triggers when clicked and asks the controller to sort the column -->
				<!-- The header also has an icon which is shown if controller says that it is sorted. A controller bound -->
				<!-- CSS class is used to style the header when it is selected-->
                <th class="table-header-structure-image" style="width: 10%;">Image</th>
				<th style="width: 5%;" {{action "sortHeader" "prefLabel"}} {{bind-attr class=":th-hover prefLabelSortASC:sortASC prefLabelSortDESC:sortDESC"}}>Name{{#if prefLabelSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if prefLabelSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				{{!-- If substructure or similarity search then reduce description column by 5% to take account of additional relevance column --}}
				{{#if subSearch}}
				<th style="width: 15%;" {{action "sortHeader" "description"}} {{bind-attr class=":th-hover descriptionSortASC:sortASC descriptionSortDESC:sortDESC"}}>Description{{#if descriptionSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if descriptionSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				{{else}}
				{{#if simSearch}}
<th style="width: 15%;" {{action "sortHeader" "description"}} {{bind-attr class=":th-hover descriptionSortASC:sortASC descriptionSortDESC:sortDESC"}}>Description{{#if descriptionSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if descriptionSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
{{else}}
<th style="width: 20%;" {{action "sortHeader" "description"}} {{bind-attr class=":th-hover descriptionSortASC:sortASC descriptionSortDESC:sortDESC"}}>Description{{#if descriptionSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if descriptionSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
	
{{/if}}
{{/if}}
				<th style="width:5%" {{action "sortHeader" "biotransformationItem"}} {{bind-attr class=":th-hover biotransSortASC:sortASC biotransSortDESC:sortDESC"}}>Bio Transformation{{#if biotransSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if biotransSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 10%;" {{action "sortHeader" "toxicity"}} {{bind-attr class=":th-hover toxicitySortASC:sortASC toxicitySortDESC:sortDESC"}}>Toxicity{{#if toxicitySortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if toxicitySortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "proteinBinding"}} {{bind-attr class=":th-hover proteinBindingSortASC:sortASC proteinBindingSortDESC:sortDESC"}}>Protein Binding{{#if proteinBindingSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if proteinBindingSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				{{!-- <th {{action "sortHeader" "smiles"}} {{bind-attr class=":th-hover smilesSortASC:sortASC smilesSortDESC:sortDESC"}}>SMILES{{#if smilesSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if smilesSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "chemblURI"}} {{bind-attr class=":th-hover chemblURISortASC:sortASC chemblURISortDESC:sortDESC"}}>Chembl URL{{#if chemblURISortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if chemblURISortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th> --}}
				<th style="wifth: 5%" {{action "sortHeader" "fullMWT"}} {{bind-attr class=":th-hover fullMWTSortASC:sortASC fullMWTSortDESC:sortDESC"}}>Molecular Weight{{#if fullMWTSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if fullMWTSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "hba"}} {{bind-attr class=":th-hover hbaSortASC:sortASC hbaSortDESC:sortDESC"}}>HBA{{#if hbaSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if hbaSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "hbd"}} {{bind-attr class=":th-hover hbdSortASC:sortASC hbdSortDESC:sortDESC"}}>HBD{{#if hbdSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if hbdSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				{{!-- <th {{action "sortHeader" "inchi"}} {{bind-attr class=":th-hover inchiSortASC:sortASC inchiSortDESC:sortDESC"}}>Inchi{{#if inchiSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchiSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "inchiKey"}} {{bind-attr class=":th-hover inchiKeySortASC:sortASC inchiKeySortDESC:sortDESC"}}>Inchi Key{{#if inchiKeySortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchiKeySortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th> --}}
				<th style="width: 5%;" {{action "sortHeader" "logp"}} {{bind-attr class=":th-hover logpSortASC:sortASC logpSortDESC:sortDESC"}}>logP{{#if logpSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if logpSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "molform"}} {{bind-attr class=":th-hover molformSortASC:sortASC molformSortDESC:sortDESC"}}>Molecular formula{{#if molformSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if molformSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "mwFreebase"}} {{bind-attr class=":th-hover mwFreebaseSortASC:sortASC mwFreebaseSortDESC:sortDESC"}}>MW Freebase{{#if mwFreebaseSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if mwFreebaseSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "psa"}} {{bind-attr class=":th-hover psaSortASC:sortASC psaSortDESC:sortDESC"}}>PSA{{#if psaSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if psaSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "ro5Violations"}} {{bind-attr class=":th-hover ro5ViolationsSortASC:sortASC ro5ViolationsSortDESC:sortDESC"}}>RO5 Violations{{#if ro5ViolationsSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if ro5ViolationsSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th style="width: 5%;" {{action "sortHeader" "rtb"}} {{bind-attr class=":th-hover rtbSortASC:sortASC rtbSortDESC:sortDESC"}}>RTB{{#if rtbSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if rtbSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
    {{#if isSubstructureSearch}}
				<th style="width: 5%;" {{action "sortHeader" "relevance"}} {{bind-attr class=":th-hover relevanceSortASC:sortASC relevanceSortDESC:sortDESC"}}>Relevance{{#if relevanceSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if relevanceSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
    {{/if}}
    {{#if isSimilaritySearch}}
				<th style="width: 5%;" {{action "sortHeader" "relevance"}} {{bind-attr class=":th-hover relevanceSortASC:sortASC relevanceSortDESC:sortDESC"}}>Relevance{{#if relevanceSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if relevanceSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
    {{/if}}
</tr>
</thead>
<tbody>
{{#each structureRecord in structure}}
<tr class="record-deco">
	<td>{{#link-to "compounds.draw" (query-params smiles=structureRecord.smiles) title="Draw this compound"}}{{cs_image_src structureRecord.URI}}{{/link-to}}</td>
    <td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=structureRecord.URI)}}{{structureRecord.prefLabel}}{{/link-to}}</td>
    <td class="cell-basictext">{{structureRecord.description}}</td>
    <td class="cell-basictext">{{structureRecord.biotransformationItem}}</td>
    <td class="cell-basictext">{{structureRecord.toxicity}}</td>
    <td class="cell-basictext">{{structureRecord.proteinBinding}}</td>
    {{!-- <td class="cell-basictext">{{#link-to "compounds.draw" (query-params smiles=structureRecord.smiles) title="Draw the compound with this structure"}}{{structureRecord.smiles}}{{/link-to}}</td>
    <td class="cell-basictext">{{textLink structureRecord.chemblURI}}</td> --}}
    <td class="cell-basictext">{{structureRecord.fullMWT}}</td>
    <td class="cell-basictext">{{structureRecord.hba}}</td>
    <td class="cell-basictext">{{structureRecord.hbd}}</td>
    {{!-- <td class="cell-basictext">{{structureRecord.inchi}}</td>
    <td class="cell-basictext">{{structureRecord.inchiKey}}</td> --}}
    <td class="cell-basictext">{{structureRecord.logp}}</td>
    <td class="cell-basictext">{{formatMolecularFormula structureRecord.molform}}</td>
    <td class="cell-basictext">{{structureRecord.mwFreebase}}</td>
    <td class="cell-basictext">{{structureRecord.psa}}</td>
    <td class="cell-basictext">{{structureRecord.ro5Violations}}</td>
    <td class="cell-basictext">{{structureRecord.rtb}}</td>
    {{#if isSubstructureSearch}}
        <td class="cell-basictext">{{structureRecord.relevance}}</td>
    {{/if}}
    {{#if isSimilaritySearch}}
        <td class="cell-basictext">{{structureRecord.relevance}}</td>
    {{/if}}
</tr>
{{/each}}
</tbody>
</table>
</div>
