	<!-- Modal -->
	<div id="enzymePharmaFilterModalView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Select filters for {{this.prefLabel}}</h3>
	  </div>
	  <div class="modal-body" style="overflow-y: visible;">
        <div id="activity-filters">
	    <p><h4>Activity Filter</h4></p>
		{{view Ember.Select
		       content=activityTypes
		       optionLabelPath="content.label"
		       prompt="Select an activity"
		       value=selectedActivity
		       selection=selectedActivity
		}}
		{{view Ember.Select
		       content=conditions
		       prompt="Select an operator"
               value=selectedCondition
		       selection=selectedCondition
		}}
		{{input type="text" placeholder="Enter an activity value" value=activityValue id="activityValueInput"}}
		{{view Ember.Select
		       content=activityUnits
		       optionLabelPath="content.label"
		       prompt="Select a unit"
               value=selectedUnit
		       selection=selectedUnit
		}}
        </div>
        <div>
<h5>Return activities with the following relation(s) only</h5>
<p class="small-padding-right activity-relation-operator">></p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThan" classNames="relation-checkbox"}}</p>
<p class="small-padding-right activity-relation-operator"><</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThan" classNames="relation-checkbox"}}</p>
<p class="small-padding-right activity-relation-operator">=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="equalTo" classNames="relation-checkbox"}}</p>
<p class="small-padding-right activity-relation-operator">>=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="greaterThanOrEqual" classNames="relation-checkbox"}}</p>
<p class="small-padding-right activity-relation-operator"><=</p><p class="inline big-margin-right">{{view Ember.Checkbox checkedBinding="lessThanOrEqual" classNames="relation-checkbox"}}</p>
        </div>
        <div id="pchembl-filters">
	    <p><h4>pChembl Filter</h4></p>
		{{view Ember.Select
		       content=pchemblConditions
		       prompt="Select an operator"
               value=selectedPchemblCondition
		       selection=selectedPchemblCondition
		}}
		{{input type="text" placeholder="Enter a pchembl value" value=pchemblValue id="pchemblValueInput"}}
        </div>
        <div>
	    <p><h4>Organism filters</h4></p>
            <div>
                <h5 style="display: inline;">Assay:</h5> {{input type="text" placeholder="Enter name of an assay organism" value=assayOrganismQuery action="fetchOrganism" id="assay_organism_box"}}
            </div>
            <div>
                <h5 style="display: inline;">Target:</h5> {{input type="text" placeholder="Enter name of a target organism" value=targetOrganismQuery action="fetchOrganism" id="target_organism_box"}}
            </div>
        </div>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-warning" {{action "resetFilters"}} title="Reset the filters to default values">Reset filters</button>
	    <button class="btn btn-primary" {{action "applyFilters"}} title="Apply the filters you have selected">Apply filters</button>
	  </div>
	</div>
	<!-- End of Modal -->
<div class="goto-button" id="top"><button class="btn btn-small" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button></div>
<div>

	<ul class="breadcrumb">
		{{!-- <li><a href="/">Home</a> <span class="divider">/</span></li>
		<li>{{ontology}}<span class="divider">/</span></li>
		<li class="active">Pharmacology</li> --}}
		<span class="text-info">Pharmacology for {{uri}}</span>
				
		<div class="row pull-right"> 
			<div class="span1 small-padding-top small-padding-right">Provenance</div>
  			<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
				<button {{action 'enableProvenance'}} {{bind-attr class="showProvenance:active: :btn"}}>On</button>
				<button {{action 'disableProvenance'}} {{bind-attr class="showProvenance::active :btn"}}>Off</button>
  			</div>
		</div>
	</ul>	
	
</div>
{{#if notEmpty}}
<a href="#enzymePharmaFilterModalView" role="button" class="btn small-margin-left" data-toggle="modal" title="Click to select filters which can be applied to the results">Filter Results</a>
<a href="#enzymePharmaDownload" {{action "tsvDownload" this}} role="button" class="btn small-margin-left" data-toggle="modal" title="Click to create TSV formatted target class pharmacology results">Create TSV</a>
Loaded {{currentCount}} of {{totalCount}}
{{/if}}
<!-- RESULT LISTING -->
{{#if notEmpty}}
	<div class="row" style="padding:30px">	
	<table>
		<thead class="headingstyle" style="border-spacing: 0;">
	
			<tr>
				<th colspan="2" class="centre" style="border-right: 2px solid white; padding: 7px;">Compound</th>
				<th colspan="3" class="centre" style="border-right: 2px solid white; padding: 7px;">Target</th>
				<th colspan="2" class="centre" style="border-right: 2px solid white; padding: 7px;">Assay</th>
				<th colspan="4" class="centre" style="border-right: 2px solid white; padding: 7px;">Activity</th>
				<th style="border-right: 2px solid white; padding: 7px;"></th>
				<th style="border-right: 2px solid white; padding: 7px;"></th>
                                <th style="border-right: 2px solid white; padding: 7px;"></th>
			</tr>
			<tr>
				<!-- Each header can have an action which triggers when clicked and asks the controller to sort the column -->
				<!-- The header also has an icon which is shown if controller says that it is sorted. A controller bound -->
				<!-- CSS class is used to style the header when it is selected-->
				<th style="width: 10%;">Image</th>
				<th style="border-right: 2px solid white; padding: 7px; width: 10%;" {{action "sortHeader" "compound_name"}} {{bind-attr class="compoundNameSortASC:sortASC compoundNameSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Name</span><span>{{#if compoundNameSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if compoundNameSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 10%" {{action "sortHeader" "target_name"}} {{bind-attr class="targetNameSortASC:sortASC targetNameSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Name</span><span>{{#if targetNameSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if targetNameSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 10%;" {{action "sortHeader" "target_component"}} {{bind-attr class="targetComponentSortASC:sortASC targetComponentSortDESC:sortDESC: :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>Components</span><span>{{#if targetComponentSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if targetComponentSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="border-right: 2px solid white; padding: 7px; width: 5%;" {{action "sortHeader" "target_organism"}} {{bind-attr class="targetOrganismSortASC:sortASC targetOrganismSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Organism</span><span>{{#if targetOrganismSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if targetOrganismSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 5%" {{action "sortHeader" "assay_organism"}} {{bind-attr class="assayOrganismSortASC:sortASC assayOrganismSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Organisms</span><span>{{#if assayOrganismSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if assayOrganismSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="border-right: 2px solid white; padding: 7px; width: 15%;" {{action "sortHeader" "assay_description"}} {{bind-attr class="assayDescriptionSortASC:sortASC assayDescriptionSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Description</span><span>{{#if assayDescriptionSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if assayDescriptionSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 5%;"{{action "sortHeader" "activity_type"}} {{bind-attr class="activityTypeSortASC:sortASC activityTypeSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right"}} title="Click to sort"><span>Type</span><span>{{#if activityTypeSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityTypeSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 5%;" {{action "sortHeader" "activity_relation"}} {{bind-attr class="activityRelationSortASC:sortASC activityRelationSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>Relation</span><span>{{#if activityRelationSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityRelationSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				<th style="width: 5%;" {{action "sortHeader" "activity_value"}} {{bind-attr class="activityValueSortASC:sortASC activityValueSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>Value</span><span>{{#if activityValueSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityValueSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
					<th style="border-right: 2px solid white; padding: 7px; width: 5%;" {{action "sortHeader" "activity_unit"}} {{bind-attr class="activityUnitSortASC:sortASC activityUnitSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>Units</span><span>{{#if activityUnitSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if activityUnitSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
					<th style="border-right: 2px solid white; padding: 7px; width: 5%;" {{action "sortHeader" "pmid"}} {{bind-attr class="pmidSortASC:sortASC pmidSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>PubMed Article</span><span>{{#if pmidSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if pmidSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
					<th style="border-right: 2px solid white; padding: 7px; width: 5%;" {{action "sortHeader" "molweight"}} {{bind-attr class="molweightSortASC:sortASC molweightSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>Mol Weight</span><span>{{#if molweightSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if molweightSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
				{{!-- <th {{action "sortHeader" "smiles"}} {{bind-attr class="smilesSortASC:sortASC smilesSortDESC:sortDESC"}}>SMILES{{#if smilesSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if smilesSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "inchi"}} {{bind-attr class="inchiSortASC:sortASC inchiSortDESC:sortDESC"}}>InChi{{#if inchiSortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchiSortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th>
				<th {{action "sortHeader" "inchi_key"}} {{bind-attr class="inchikeySortASC:sortASC inchikeySortDESC:sortDESC"}}>InChiKey{{#if inchikeySortASC}}<i class="icon-chevron-up small-margin-left"></i>{{/if}}{{#if inchikeySortDESC}}<i class="icon-chevron-down small-margin-left"></i>{{/if}}</th> --}}
				<th style="border-right: 2px solid white; padding: 7px; width: 5%;" {{action "sortHeader" "pChembl"}} {{bind-attr class="pchemblSortASC:sortASC pchemblSortDESC:sortDESC :th-hover :medium-padding-left :medium-padding-right" title="Click to sort"}}><span>pChembl</span><span>{{#if pchemblSortASC}}<i class="icon-chevron-up small-margin-left right"></i>{{/if}}{{#if pchemblSortDESC}}<i class="icon-chevron-down small-margin-left right"></i>{{/if}}</span></th>
			</tr>
		</thead>
		<tbody>
			{{#each enzymePharma in pharmacology}}
			<tr class="record-deco">
				
				<td class="cell-basictext">{{#link-to "compounds.draw" (query-params smiles=enzymePharma.smiles path=enzymePharma.ketcherPath) title="Draw this compound structure using ketcher"}}{{cs_image_src enzymePharma.csURI}}{{/link-to}}</td>
				<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=enzymePharma.csURI)}}{{enzymePharma.prefLabel}}{{/link-to}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.conceptWikiProvenance.prefLabel 'conceptwiki'}}{{/if}}</td>
				<td class="cell-basictext">{{#each target in enzymePharma.targets}}{{target.title}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetTitle 'chembl'}}{{/if}}{{/each}}</td>
				<td class="cell-longtext">{{#each target in enzymePharma.targets}}{{#each component in target.targetComponents}}<li class="no-list-style">{{targetComponentLink component}}{{/each}}</li>{{/each}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetComponents 'chembl'}}{{/if}}</td>
				<td class="cell-basictext">{{#each target in enzymePharma.targets}}{{targetOrganismLink target}}{{/each}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetOrganismName 'chembl'}}{{/if}}</td>
				<td class="cell-basictext">{{assayOrganismLink enzymePharma}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayOrganismName 'chembl'}}{{/if}}</td>
				<td class="cell-longtext">{{enzymePharma.assayDescription}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayDescription 'chembl'}}{{/if}}</td>
				<!-- Activity info id from chembl just not sure of the exact source -->
				<td class="cell-basictext">{{enzymePharma.activityType}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
				<td class="cell-basictext">{{enzymePharma.activityRelation}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
				<td class="cell-basictext">{{enzymePharma.activityValue}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
				<td class="cell-basictext">{{enzymePharma.activityUnits}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
			    <td class="cell-basictext">{{linkablePubmedId enzymePharma.pmid}}</td>
			    <!-- All chemspider prov links have the same source so doesn't really matter which one is used -->
			    <td class="cell-basictext">{{enzymePharma.fullMWT}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.chemspiderProvenance.hba 'chemspider'}}{{/if}}</td>
			    <!-- pchembl is from chembl just not exactly sure of the exact source -->
			    <td class="cell-longtext">{{enzymePharma.pChembl}}</td>

		    </tr>
			{{/each}}
		</tbody>
	</table>
</div>
{{/if}}
