<tbody>
	{{#each enzymePharma in model}}
	<tr class="record-deco">

		<td class="cell-basictext">{{#link-to "compounds.draw" (query-params smiles=enzymePharma.smiles) title="Draw this compound structure using ketcher"}}{{cs_image_src enzymePharma.csURI '128px' '128px'}}{{/link-to}}</td>
		<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=enzymePharma.csURI)}}{{enzymePharma.prefLabel}}{{/link-to}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.conceptWikiProvenance.prefLabel 'conceptwiki'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.targetTitle}}{{target.title}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetTitle 'chembl'}}{{/if}}</td>
		<td class="cell-longtext">{{#each component in enzymePharma.targetComponents}}<li class="no-list-style">{{targetComponentLink component}}</li>{{/each}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetComponents 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{targetOrganismLink enzymePharma.targetOrganismName enzymePharma.targetURI}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetOrganismName 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{assayOrganismLink enzymePharma}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayOrganismName 'chembl'}}{{/if}}</td>
		<td class="cell-longtext">{{enzymePharma.assayDescription}}{{#if showProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayDescription 'chembl'}}{{/if}}</td>
		<!-- Activity info id from chembl just not sure of the exact source -->
		<td class="cell-basictext">{{enzymePharma.activityType}}{{#if showProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityRelation}}{{#if showProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityValue}}{{#if showProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityUnits}}{{#if showProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.pChembl}} {{#if showProvenance}}{{#if enzymePharma.pChembl}}<span class="pchembl-prov">(<a href="https://www.ebi.ac.uk/chembl/faq#faq67" title="Click to view pChembl definition"><i class="fa fa-question"></i></a>)</span>{{/if}}{{/if}}</td>
	</tr>
	{{/each}}
</tbody>
