<tbody>
	{{#each enzymePharma in pharmacology}}
	<tr class="record-deco">

		<td class="cell-basictext">{{#link-to "compounds.draw" (query-params smiles=enzymePharma.smiles) title="Draw this compound structure using ketcher"}}{{cs_image_src enzymePharma.csURI}}{{/link-to}}</td>
		<td class="cell-basictext">{{#link-to "compounds.index" (query-params uri=enzymePharma.csURI)}}{{enzymePharma.prefLabel}}{{/link-to}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.conceptWikiProvenance.prefLabel 'conceptwiki'}}{{/if}}</td>
		<td class="cell-basictext">{{#each target in enzymePharma.targets}}{{target.title}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetTitle 'chembl'}}{{/if}}{{/each}}</td>
		<td class="cell-longtext">{{#each target in enzymePharma.targets}}{{#each component in target.targetComponents}}<li class="no-list-style">{{targetComponentLink component}}</li>{{/each}}{{/each}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetComponents 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{#each target in enzymePharma.targets}}{{targetOrganismLink target}}{{/each}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayTargetProvenance.targetOrganismName 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{assayOrganismLink enzymePharma}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayOrganismName 'chembl'}}{{/if}}</td>
		<td class="cell-longtext">{{enzymePharma.assayDescription}}{{#if showPharmaProvenance}}{{provenanceLinkout enzymePharma.assayProvenance.assayDescription 'chembl'}}{{/if}}</td>
		<!-- Activity info id from chembl just not sure of the exact source -->
		<td class="cell-basictext">{{enzymePharma.activityType}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityRelation}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityValue}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
		<td class="cell-basictext">{{enzymePharma.activityUnits}}{{#if showPharmaProvenance}}{{provenanceLinkout 'http://www.ebi.ac.uk/chembl' 'chembl'}}{{/if}}</td>
	</tr>
	{{/each}}
</tbody>
