{{#if empty}}
There are no pharmacology results
{{else}}

<div>

	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
  		<li>Enzyme X <span class="divider">/</span></li>
  		<li class="active">Enzyme Phamacology</li>
				
		<div class="row pull-right"> 
			<div class="span1 small-padding-top small-padding-right">Provenance</div>
  			<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  				<button class="btn">On</button>
  				<button class="btn active">Off</button>
  			</div>
		</div>
	</ul>	
	
</div>

<!-- RESULT LISTING -->
	<div style="padding:30px">	
	<table class="mytable">
		<thead id="tablehead" class="headingstyle">
	
			<tr>
				<th class="lead lead-target">Compound</th>
				<th></th>
				<th class="lead lead-assay">Target</th>
				<th></th>
				<th class="lead lead-assay">Assay</th>
				<th></th>
				<th></th>
				<th></th>
				<th class="lead">Activity</th>
			<tr>
			<tr>
				<th>Structure</th>
				<th align="left">Name</th>
				<th width="10%">Names</th>
				<th width="10%">Organisms</th>
				<th>Organisms</th>
				<th>Description</th>
				<th>Type</th>
			 	<th>Relation</th>
				<th>Value</th>
				<th>Units</th>
				<th>PubMed Article</th>
				<th>Mol Weight</th>
				<th>SMILES</th>
				<th>InChI</th>
				<th>InChIKey</th>
			</tr>
		</thead>
		<tbody>
			{{#each enzymePharma in pharmacology}}
			<tr class="record-deco">
				
				<td class="cell-basictext">Image</td>
				<td class="cell-basictext">{{enzymePharma.prefLabel}}</td>
				<td class="cell-basictext">{{enzymePharma.targetTitle}}</td>
				<td class="cell-basictext">{{enzymePharma.targetOrganism}}</td>
				<td class="cell-basictext">{{enzymePharma.assayOrganism}}</td>
				<td class="cell-basictext">{{enzymePharma.assayDescription}}</td>
				<td class="cell-basictext">{{enzymePharma.activityType}}</td>
				<td class="cell-basictext">{{enzymePharma.relation}}</td>
				<td class="cell-basictext">{{enzymePharma.standardValue}}</td>
			    <td class="cell-basictext">{{enzymePharma.standardUnits}}</td>
			    <td class="cell-basictext">{{enzymePharma.pmid}}</td>
			    <td class="cell-basictext">{{enzymePharma.fullMWT}}</td>
			    <td class="cell-basictext">{{enzymePharma.smiles}}</td>
			    <td class="cell-basictext">{{enzymePharma.inchi}}</td>
			    <td class="cell-basictext">{{enzymePharma.inchiKey}}</td>

			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>

{{/if}}

<script type="text/javascript">
$(window).off("scroll", scrollHandler);
scrollOnThisPage = true;
pageScrolling = false;
scrollHandler = function() {
    var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
    if (scrollPercent >= 99 && pageScrolling != true && scrollOnThisPage == true) {
        disable_scroll();
        pageScrolling = true;
        console.log("Fetching results for scroll " + pageScrolling);
        //this is not a very pleasant way to get the controller but can find no other method
        App.__container__.lookup('controller:enzymePharmacologyIndex').fetchMore();
    }
};
</script>
