<h2>Pathway</h2>
<p>title: {{title}}</p>
<p>identifier: {{identifier}}</p>
<p>description: {{description}}</p>
{{#each ontology in pathwayOntologies}}
<h2>Ontologies</h2>
<p>reference: {{ontology.reference}}</p>
<p>metabolite: {{ontology.metabolite}}</p>
<p>gene product: {{ontology.gene_product}}</p>
{{/each}}
<h2>Organism</h2>
<p>organism: {{organism}}</p>
<p>organism label: {{organismLabel}}</p>
<h2>Gene Product</h2>
<p>gene product label: {{geneProductLabel}}</p>
<p>gene product URI: {{geneProductURI}}</p>
<p>gene product concept Wiki URI: {{geneProductCWURI}}</p>
<p>about: {{about}}</p>
<h2>Parts</h2>
{{#each part in parts}}
<p>about: {{part.about}}</p>
<p>type: {{part.type}}</p>
{{/each}}
<h2>Compounds</h2>
{{#each compound in compounds}}
<p>{{#linkTo 'compound.index' compound}}{{compound.prefLabel}}{{/linkTo}}</p>
{{/each}}
