<style>
	dt { 
		padding: 20px 0 0 0;
	}
	dd { 
		padding: 20px 0 0 0; }
</style>
<div>

	<!-- breadcrumb	-->
	<ul class="breadcrumb">
  		<li><a href="/">Home</a></li>
		<li><span class="divider">/</span>{{prefLabel}}<span class="divider">/</span></li>
  		<li class="active">Compound Information</li>

		<div class="row pull-right" > 
			<div class="span1 small-padding-top small-padding-right">Provenance </div>
  			<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  				<button class="btn">On</button>
  				<button class="btn active">Off</button>
  			</div>
		</div>
	</ul>
	
	
    			<div> &larr; {{#linkTo 'search'}} back to search{{/linkTo}}</div>
  		
	
	<!-- main -->
	<div class="container">
	<div class="container-fluid large-top-spacing">
  		<div class="row-fluid">
  			
  			<!--Sidebar content-->
    		<div class="span3">
      			<div style="padding:0 0 0 20px;background:white;" >{{cs_image_src csURI}}</div>
      			
      			<!--box properties-->
      			<div id="boxes" class="small-top-spacing">
      				
      				{{#if logp}}
      					<div class="summary-box">
      						<div class="inner-property-content">
  								<p><small>AlogP</small></p>
  								<p class="lead">{{logp}}</p>
  							</div>
      					</div>
      				{{/if}}
      				
      				{{#if hba}}      				
      					<div class="summary-box">
      						<div class="inner-property-content">
  								<p><small># H-Bond Acceptors</small></p>
  								<p class="lead">{{hba}}</p>
  							</div>
    	  				</div>
					{{/if}}

      				{{#if hbd}}      				
      					<div class="summary-box">
    	  					<div class="inner-property-content">
  								<p><small># H-Bond Donors</small></p>
  								<p class="lead">{{hbd}}</p>
  							</div>
      					</div>
      				{{/if}}
      				
       				{{#if fullMWT}}      				
      					<div class="summary-box">
      						<div class="inner-property-content">
  								<p><small>Mol Weight</small></p>
  								<p class="lead">{{fullMWT}}</p>
  							</div>
      					</div>
      				{{/if}}

       				{{#if mwFreebase}}      				
      					<div class="summary-box">
      						<div class="inner-property-content">
  								<p><small>Mol Weight Freebase</small></p>
  								<p class="lead">{{mwFreebase}}</p>
  							</div>
      					</div>
      				{{/if}}

       				{{#if psa}}      				
 	     				<div class="summary-box">
  	 	   					<div class="inner-property-content">
  								<p><small>Polar Surface Area</small></p>
  								<p class="lead">{{psa}}</p>
  							</div>
   		   				</div>
      				{{/if}}

      				{{#if rtb}}      				
      					<div class="summary-box">
    	  					<div class="inner-property-content">
  								<p><small># Rotatable Bonds</small></p>
  								<p class="lead">{{rtb}}</p>
  							</div>
      					</div>
      				{{/if}}
      				
      			</div>
    		</div>
    		
    		<!--Body content-->
    		<div class="span9">
     			
				<!--title and formula-->
				<div>
						
					<div style="padding:20px 0 0 0">
						<h1>{{prefLabel}}</h1>
					</div>
					<div class="lead pull-right">
						<p class="pull-left">{{formatMolecularFormula molform}}</p>
					</div>
					<div style="padding:30px 0 0 0;text-align:left;">
					{{#linkTo 'compound.pharmacology'}}Pharmacology Data{{/linkTo}}
					</div>
					<div style="padding:5px 0 0 0;text-align:left;">
                    {{#linkTo 'compound.structure'}}Structure Search{{/linkTo}}
					</div>
				</div>
				
				
							
				<!--description-->
				<div class="summary-descriptive-text large-top-spacing">
					<p>{{description}}</p>
				</div>
				
				<!--biotransformation-->
				<div class="summary-descriptive-text small-top-spacing">
					<p>{{biotransformationItem}}</p>
				</div>
				
				<!--details-->
				<div class="dl-horizontal" style="font-size:13px;">
					<dl>
						{{#if csUri}}
  							<dt>ChemSpider ID</dt>
  							<dd>{{linkableChemspiderID csUri}}</dd>
						{{/if}}

  						{{#if smiles}}
  							<dt>SMILES</dt>
  							<dd>{{smiles}}</dd>
  						{{/if}}
  						
						{{#if inchi}}
							<dt>Standard InChi</dt>
  							<dd>{{inchi}}</dd>
  						{{/if}}

  						{{#if inchiKey}}
  							<dt>Standard InChiKey</dt>
  							<dd>{{inchiKey}}</dd>
  						{{/if}}

						{{#if proteinBinding}}
  							<dt>Protien Binding</dt>
  							<dd>{{proteinBinding}}</dd>
						{{/if}}

						{{#if toxicity}}
  							<dt>Toxicity</dt>
  							<dd>{{toxicity}}</dd>
						{{/if}}

					</dl>
     			</div>
     			
     			
    		</div>
  		</div>
	</div>
	</div>
	

	
	
</div>

<script type="text/javascript">
  $(window).off("scroll", scrollHandler);
</script>
