Show
<div class="row">
<div class="search-exact-match big-margin-top">
    <div class="big-margin-right thumbnail left">{{cs_image_src csUri}}</div>
    <h1>{{prefLabel}}</h1>
    <div class="clear"></div>
    <div class="compound-smiles big-font big-margin-right big-margin-top">{{smiles}}</div>
    <dl class="big-margin-top">
    <dt class="medium-padding-bottom"><h3>Description</h3></dt>
    <dd>{{description}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Toxicity</h3></dt>
    <dd>{{toxicity}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Protein Binding</h3></dt>
    <dd>{{proteinBinding}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Bio-transformation</h3></dt>
    <dd>{{biotransformationItem}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Molecular Weight</h3></dt>
    <dd>{{fullMWT}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3># H-Bond Acceptors</h3></dt>
    <dd>{{hba}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3># H-Bond Donors</h3></dt>
    <dd>{{hbd}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Inchi</h3></dt>
    <dd>{{inchi}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>MW Freebase</h3></dt>
    <dd>{{mwFreebase}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>ro5 violations</h3></dt>
    <dd>{{ro5Violations}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Rotatable Bonds</h3></dt>
    <dd>{{rtb}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>AlogP</h3></dt>
    <dd>{{logp}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Molecular Formula</h3></dt>
    <dd>{{molform}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Polar Surface Area</h3></dt>
    <dd>{{psa}}</dd>
    </dl>
</div>
<div>
{{#linkTo 'search'}}Back to Search{{/linkTo}}
{{#linkTo comments.new}}Comments{{/linkTo}}
</div>
</div>

<script type="text/javascript">
scrollOnThisPage = false;
</script>
