<div>
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li>{{#linkTo 'compound.index' controllers.compound}}{{controllers.compound.prefLabel}}{{/linkTo}} <span class="divider">/</span></li>
        <li class="active">Compound Structure</li>
        <div class="row pull-right"> 
            <div class="span1 small-padding-top small-padding-right">Provenance</div>
                <div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
                    <button class="btn">On</button>
                    <button class="btn active">Off</button>
                </div>
            </div>
        </div>
    </ul>
<div>

<div class="row btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
    <div class="span4 big-padding-left">
        <button class="btn active" {{action 'structureSearchType' 'exact'}}>Exact</button>
        <button class="btn" {{action 'structureSearchType' 'substructure'}}>Sub-structure</button>
        <button class="btn" {{action 'structureSearchType' 'similarity'}}>Similarity</button>
    </div>
</div>
<div class="row">
    <div class="span4 big-padding-left">
        {{controllers.compound.prefLabel}}
        {{controllers.compound.smiles}}
    </div>
</div>
	<div style="padding:30px">	
	<table class="mytable">
		<thead id="tablehead" class="headingstyle">
<tr>
    <th>cwURI</th>
    <th>description</th>
    <th>biotransformationItem</th>
    <th>toxicity</th>
    <th>proteinBinding</th>
    <th>prefLabel</th>
    <th>csURI</th>
    <th>smiles</th>
    <th>chemblURI</th>
    <th>fullMWT</th>
    <th>hba</th>
    <th>hbd</th>
    <th>inchi</th>
    <th>inchiKey</th>
    <th>logp</th>
    <th>molform</th>
    <th>mwFreebase</th>
    <th>psa</th>
    <th>ro5Violations</th>
    <th>rtb</th>
    <th>molecule</th>
    <th>csURI</th>
    <th>relevance</th>
</tr>
</thead>
<tbody>
{{#each}}
<tr class="record-deco">
    <td>{{cwURI}}</td>
    <td>{{description}}</td>
    <td>{{biotransformationItem}}</td>
    <td>{{toxicity}}</td>
    <td>{{proteinBinding}}</td>
    <td>{{#linkTo 'compound.index' this}}{{prefLabel}}{{/linkTo}}</td>
    <td>{{csURI}}</td>
    <td>{{smiles}}</td>
    <td>{{chemblURI}}</td>
    <td>{{fullMWT}}</td>
    <td>{{hba}}</td>
    <td>{{hbd}}</td>
    <td>{{inchi}}</td>
    <td>{{inchiKey}}</td>
    <td>{{logp}}</td>
    <td>{{molform}}</td>
    <td>{{mwFreebase}}</td>
    <td>{{psa}}</td>
    <td>{{ro5Violations}}</td>
    <td>{{rtb}}</td>
    <td>{{molecule}}</td>
    <td>{{csURI}}</td>
    <td>{{relevance}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
