<div>
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li>{{#linkTo 'compound.index' controllers.compound}}{{controllers.compound.prefLabel}}{{/linkTo}} <span class="divider">/</span></li>
        <li class="active">Compound Structure</li>
        <div class="row pull-right"> 
            <div class="span1 small-padding-top small-padding-right">Provenance</div>
                <div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
                    <button class="btn">On</button>
                    <button class="btn active">Off</button>
                </div>
            </div>
        </div>
    </ul>
<div>
<div class="row btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
    <div class="span4 big-padding-left">
        <button class="btn active" {{action 'structureSearch' 'exact'}}>Exact</button>
        <button class="btn" {{action 'structureSearch' 'substructure'}}>Sub-structure</button>
        <button class="btn" {{action 'structureSearch' 'similarity'}}>Similarity</button>
    </div>
</div>
<div class="row">
    <div class="span4 big-padding-left">
        {{controllers.compound.prefLabel}}
        {{controllers.compound.smiles}}
    </div>
</div>
<div>
    <table>
        <thead>
            <tr><th>CS URI</th><th>Label</th><th>ID</th></tr>
        </thead>
        <tbody>
			{{#each compoundStructure in structure}}
			<tr>
                                <td>{{compoundStructure.csUri}}</td>
				<td>{{compoundStructure.prefLabel}}</td>
				<td>{{compoundStructure.id}}</td>
			</tr>
			{{/each}}
        </tbody>
    </table>
</div>
