<h1>Pharmacology for {{#linkTo target.index controllers.target}}{{controllers.target.description}}{{/linkTo}}</h1>
<table class="table table-striped">
  <tr><th>Compound Name</th><th>Target Organism</th><th>Assay Organism</th><th>Compound Inchi</th><th>Compound Inchi Key</th><th>Activity Type</th><th>Activity Relation</th><th>Activity Value</th><th>Activity Units</th><th>Compound Full Mwt</th><th>Compound Smiles</th><th>Pubmed ID</th></tr>
  {{#each targetPharma in pharmacology}}
  <td>{{compoundSource targetPharma.cwCompoundUri targetPharma.compoundPrefLabel}}</td>
  <td>Target Organism</td>
  <td>{{targetPharma.assayOrganism}}</td>
  <td>{{targetPharma.compoundInchi}}</td>
  <td>{{targetPharma.compoundInchikey}}</td>
  <td>{{targetPharma.activityActivityType}}</td>
  <td>{{targetPharma.activityRelation}}</td>
  <td>{{targetPharma.activityStandardValue}}</td>
  <td>{{targetPharma.activityStandardUnits}}</td>
  <td>{{targetPharma.compoundFullMwt}}</td>
  <td>{{targetPharma.compoundSmiles}}</td>
  <td>{{targetPharma.activityPubmedId}}</td></tr>
  {{/each}}
</table>

