<style>
</style>
<div>

		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li>{{#linkTo 'target.index' controllers.target}}{{controllers.target.prefLabel}}{{/linkTo}}<span class="divider">/</span></li>
  			<li class="active">Target Phamacology</li>
			
			<div class="row pull-right"> 
				<div class="span1 small-padding-top small-padding-right">Provenance</div>
  				<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  					<button {{action 'enableProvenance'}} class="btn">On</button>
  					<button {{action 'disableProvenance'}} class="btn active">Off</button>
  				</div>
			</div>
		</ul>
		
		<div>  
		
		<!-- actual results -->
		<div id="summary-anchor">
		<div id="summary" class="compound_summary collapse in">
			
			<div id="target-image" class="span2 small-padding-top big-padding-bottom">{{target_image_src controllers.target.seeAlso}}</div>
			<div class="row">
				<div class="span12">
    				<h3>{{#linkTo 'target.index' controllers.target}}{{controllers.target.prefLabel}}{{/linkTo}} ({{currentCount}} of {{totalCount}} results loaded)</h3>
   					<div class="row">
      					<div class="span6 justify normal-font">{{expandableDescription controllers.target.description}}</div>
    				</div>
  				</div>
			</div>

			</div>
	
		</div>
		</div>
	
	<!-- RESULT LISTING -->
    {{#if notEmpty}}
	<div style="padding:30px">	
	<table class="mytable">

		<thead class="headingstyle">
	
			<tr>
				<th class="lead">Compound</th>
				<th class="lead">Target</th>
				<th></th>
				<th class="lead" style="text-align:left;">Assay</th>
				<th></th>
				<th></th>
				<th class="lead">Activity</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			<tr>
			<tr>
				<th align="center" style="min-width:300px;">Name</th>
				<th style="min-width:100px;">Organism</th>
				<th style="min-width:100px;">Organism</th>
				<th style="min-width:250px;">Description</th>
				<th style="width:100px;">Type</th>
			 	<th style="width:100px;">Relation</th>
				<th style="width:100px;">Value</th>
				<th>Units</th>
				<th style="min-width:80px;">Mol Weight</th>
				<th>SMILES</th>
				<th>InChl</th>
				<th>InChlKey</th>
                <th>pChembl</th>

			</tr>
		</thead>
		<tbody>
		{{#if showPharmaProvenance}}
			{{#each}}
			<tr class="record-deco">
				<td class="cell-basictext">{{compoundSource cwCompoundUri compoundPrefLabel}}</td>
				<td class="cell-basictext">{{#each targetOrganisms}} {{this.organism}} {{/each}}</td>
				<td class="cell-basictext">{{assayOrganism}} {{provenanceLinkout assayOrganismItem chemblProvenance.source}}</td>
				<td class="cell-longtext">{{assayDescription}} {{provenanceLinkout assayDescriptionItem chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{activityActivityType}} {{provenanceLinkout activityActivityTypeItem chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{activityRelation}} {{provenanceLinkout activityRelationItem chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{activityStandardValue}} {{provenanceLinkout activityStandardValueItem chemblProvenance.source}}</td>
				<td class="lead cell-basictext">{{activityStandardUnits}} {{provenanceLinkout activityStandardUnitsItem chemblProvenance.source}}</td>
				<td class="cell-basictext" >{{compoundFullMwt}} {{provenanceLinkout compoundFullMwtItem chemblProvenance.source}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundSmiles}} {{provenanceLinkout compoundSmilesItem chemspiderProvenance.source}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundInchi}} {{provenanceLinkout compoundInchiItem chemspiderProvenance.source}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundInchikey}} {{provenanceLinkout compoundInchikeyItem chemspiderProvenance.source}}</td>
				<td class="cell-basictext" >{{pChembl}}</td>
			</tr>
			{{/each}}
		{{else}}
			{{#each}}
			<tr class="record-deco">
				<td class="cell-basictext">{{compoundSource cwCompoundUri compoundPrefLabel}}</td>
				<td class="cell-basictext">{{#each targetOrganisms}} {{this.organism}} {{/each}}</td>
				<td class="cell-basictext">{{assayOrganism}}</td>
				<td class="cell-longtext">{{assayDescription}}</td>
				<td class="lead cell-basictext">{{activityActivityType}}</td>
				<td class="lead cell-basictext">{{activityRelation}}</td>
				<td class="lead cell-basictext">{{activityStandardValue}}</td>
				<td class="lead cell-basictext">{{activityStandardUnits}}</td>
				<td class="cell-basictext" >{{compoundFullMwt}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundSmiles}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundInchi}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{compoundInchikey}}</td>
				<td class="cell-basictext" >{{pChembl}}</td>
			</tr>
			{{/each}}
		{{/if}}
			
		</tbody>
	</table>
	</div>
    {{else}}
        <h2 class="centre">There is no pharmacology data for {{controllers.target.prefLabel}}</h2>
    {{/if}}
		
</div>