<h1>Pharmacology for {{#linkTo target.index controllers.target}}{{controllers.target.description}}{{/linkTo}}</h1>
<table class="table table-striped">
  <tr><th>Compound Name</th><th>Target Organism</th><th>Assay Organism</th><th>Compound Inchi</th><th>Compound Inchi Key</th><th>Activity Type</th><th>Activity Relation</th><th>Activity Value</th><th>Activity Units</th><th>Compound Full Mwt</th><th>Compound Smiles</th><th>Pubmed ID</th></tr>
  {{#each targetPharma in pharmacology}}
  <td>{{compoundSource targetPharma.cwCompoundUri targetPharma.compoundPrefLabel}}</td>
  <td>Target Organism</td>
  <td>{{targetPharma.assayOrganism}}</td>
  <td>{{targetPharma.compoundInchi}}</td>
  <td>{{targetPharma.compoundInchikey}}</td>
  <td>{{targetPharma.activityActivityType}}</td>
  <td>{{targetPharma.activityRelation}}</td>
  <td>{{targetPharma.activityStandardValue}}</td>
  <td>{{targetPharma.activityStandardUnits}}</td>
  <td>{{targetPharma.compoundFullMwt}}</td>
  <td>{{targetPharma.compoundSmiles}}</td>
  <td>{{targetPharma.activityPubmedId}}</td></tr>
  {{/each}}
</table>

<script type="text/javascript">
$(window).off("scroll", scrollHandler);
scrollOnThisPage = true;
pageScrolling = false;
scrollHandler = function() {
    var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
    if (scrollPercent >= 99 && pageScrolling != true && scrollOnThisPage == true) {
        disable_scroll();
        pageScrolling = true;
        console.log("Fetching results for scroll " + pageScrolling);
        //this is not a very pleasant way to get the controller but can find no other method
        App.__container__.lookup('controller:targetPharmacologyIndex').fetchMore();
    }
};
$(window).scroll(scrollHandler);
</script>
