<style>
</style>
<div>

		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li>{{#linkTo target.index controllers.target}}{{controllers.target.prefLabel}}{{/linkTo}}<span class="divider">/</span></li>
  			<li class="active">Target Phamacology</li>
			
			<div class="row pull-right"> 
				<div class="span1 small-padding-top small-padding-right">Provenance</div>
  				<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  					<button class="btn">On</button>
  					<button class="btn active">Off</button>
  				</div>
			</div>
		</ul>
		
		<div>  
		
		<!-- actual results -->
		<div id="summary-anchor">
		<div id="summary" class="compound_summary">
			
			<div id="target-image" class="span2 big-padding-top big-padding-bottom">{{target_image_src controllers.compound.seeAlso}}</div>
			<div class="row">
				<div class="span12">
    				<h3>{{#linkTo 'target.index' controllers.target}}{{controllers.target.prefLabel}}{{/linkTo}}</h3>
   					<div class="row">
      					<!--<div id="formula" class="span2 lead centre">{{formatMolecularFormula controllers.compound.molform}}</div>-->
      					<div class="span6 justify normal-font">{{expandableDescription controllers.compound.description}}</div>
    				</div>
  				</div>
			</div>

			</div>
	
		</div>
		</div>
	
	<!-- RESULT LISTING -->
	<div style="padding:30px">	
	<table class="mytable">

		<thead class="headingstyle">
	
			<tr>
				<th class="lead">Compound</th>
				<th class="lead">Target</th>
				<th></th>
				<th class="lead" style="text-align:left;">Assay</th>
				<th></th>
				<th></th>
				<th class="lead">Activity</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			<tr>
			<tr>
				<th align="center" style="min-width:300px;">Name</th>
				<th style="min-width:100px;">Organism</th>
				<th style="min-width:100px;">Organism</th>
				<th style="min-width:250px;">Description</th>
				<th style="width:100px;">Type</th>
			 	<th style="width:100px;">Relation</th>
				<th style="width:100px;">Value</th>
				<th>Units</th>
				<th style="min-width:80px;">Mol Weight</th>
				<th>SMILES</th>
				<th>InChl</th>
				<th>InChlKey</th>

			</tr>
		</thead>
		<tbody>
			{{#each targetPharma in pharmacology}}
			<tr class="record-deco">
				<td class="cell-basictext">{{compoundSource targetPharma.cwCompoundUri targetPharma.compoundPrefLabel}}</td>
				<td class="cell-basictext">{{targetPharma.targetOrganism}}</td>
				<td class="cell-basictext">{{targetPharma.assayOrganism}}</td>
				<td class="cell-longtext">{{targetPharma.assayDescription}}</td>
				<td class="lead cell-basictext">{{targetPharma.activityActivityType}}</td>
				<td class="lead cell-basictext">{{targetPharma.activityRelation}}</td>
				<td class="lead cell-basictext">{{targetPharma.activityStandardValue}}</td>
				<td class="lead cell-basictext">{{targetPharma.activityStandardUnits}}</td>
				<td class="cell-basictext" >{{targetPharma.compoundFullMwt}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{targetPharma.compoundSmiles}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{targetPharma.compoundInchi}}</td>
				<td class="cell-longtext" style="max-width:250px;word-wrap:break-word;">{{targetPharma.compoundInchikey}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
		
</div>

<script>

$(function() {
	moveScroller();
});

var toggleSummary;
//sticky
function moveScroller() {
    var move = function() {
        var st = $(window).scrollTop();
        var ot = $("#summary-anchor").offset().top;
        var s = $("#summary");
        if(st > ot) {
            
    		s.css({
            	position: "fixed",
            	top: "0px",
            	height: "55px"
        	});
			
    		var i = $('#target-image');
				i.css({
					visibility:"hidden"
				});
			toggleSummary = false;
		
    		
    		
    		
        } else {
            
			s.css({
            	position: "relative",
            	top: "",
            	height: "135px",
            	width: "100%"
        	});

			var i = $('#target-image');
				i.css({
				visibility:"visible"
			});
		
			toggleSummary = true;
			        
    	}
    };
    $(window).scroll(move);
    move();
}
</script>