<style>
	dt { 
		padding: 20px 0 0 0;
	}
	dd { 
		padding: 20px 0 0 0; 
		}
</style>
<div>

	<!-- breadcrumb	-->
	<ul class="breadcrumb">
  		<li><a href="/">Home</a></li>
		<li><span class="divider">/</span>{{prefLabel}}<span class="divider">/</span></li>
  		<li class="active">Target Information</li>

		<div class="row pull-right"> 
			<div class="span1 small-padding-top small-padding-right">Provenance</div>
  			<div class="span2 btn-group" data-toggle="buttons-radio">
  				<button class="btn">On</button>
  				<button class="btn active">Off</button>
  			</div>
		</div>
	</ul>
	
	
    			<div> &larr; {{#linkTo 'search'}} back to search{{/linkTo}}</div>
  		
	
	<!-- main -->
	<div class="container">
	<div class="container-fluid large-top-spacing">
  		<div class="row-fluid">
  			
  			<!--Sidebar content-->
    		<div class="span3" style="min-height:800px;">
      			<div style="padding:0 0 0 20px;" >{{target_image_src seeAlso}}</div>
      			
      			<!--box properties-->
      			<div id="boxes" class="small-top-spacing">
      				
					{{#if molecularWeight}}
      				<div class="summary-box">
      					<div class="inner-property-content">
  							<p><small>Molecular Weight</small></p>
  							<p class="lead">{{molecularWeight}}</p>
  						</div>
      				</div>
      				{{/if}}
      				
					{{#if numberOfResidues}}
      				<div class="summary-box">
      					<div class="inner-property-content">
  							<p><small># of Residues</small></p>
  							<p class="lead">{{numberOfResidues}}</p>
  						</div>
      				</div>
					{{/if}}
					
					{{#if theoreticalPi}}
      				<div class="summary-box">
      					<div class="inner-property-content">
  							<p><small>Theoretical Pi</small></p>
  							<p class="lead">{{theoreticalPi}}</p>
  						</div>
      				</div>
					{{/if}}

      			</div>
    		</div>
    		
    		<!--Body content-->
    		<div class="span9" style="padding:30px 0 0 0;">
     			
				<!--title and formula-->
				<div>
					<div style="padding:20px 0 0 0">
						<h1>{{prefLabel}}</h1>
					</div>
					<div style="padding:30px 0 0 0;text-align:left;">
						{{#linkTo 'target.pharmacology'}}Pharmacology Data{{/linkTo}}
					</div>
				</div>
				
				<!--biotransformation-->
				{{#if alternativeName}}
				<div class="summary-descriptive-text large-top-spacing">
					<dl>
  						<dt>Alternative Name</dt>
  						<dd>{{alternativeName}}</dd>
  					</dl>
				</div>
				{{/if}}
				
				<!--details-->
				<div class="dl-horizontal" style="font-size:13px;">
					<dl>
						<dt>Organism</dt>
  						<dd>{{organism}}</dd> 
  						
  						<dt>Existence</dt>
  						<dd>{{existence}}</dd>

  						{{#if functionAnnotation}}
  						<dt>Specific Function</dt>
  						<dd>{{functionAnnotation}}</dd>
						{{/if}}
  						
  						{{#if cellularLocation}} 
  						<dt>Cellular Location</dt>
  						<dd>{{cellularLocation}}</dd>
  						{{/if}}
  						 
  						{{#if keywords}}
  						<dt>Keywords</dt>
  						<dd>{{keywords}}</dd> 
	  					{{/if}}
	  					
	  					{{#if seeAlso}}
  						<dt>PDB</dt>
  						<dd>{{seeAlso}}</dd>
  						{{/if}}	
  						
	  					{{#if sequence}}
	  					<dt>Sequence</dt>
  						<dd>{{sequence}}</dd>
  						{{/if}}	

  						
					</dl>
     			</div>
     			
     			
    		</div>
  		</div>
	</div>
	</div>
	

	
	
</div>

<script type="text/javascript">
  $(window).off("scroll", scrollHandler);
</script>
