<div class="row">
<div class="search-exact-match big-margin-top">
    <div class="big-margin-right thumbnail left">{{target_image_src seeAlso}}</div>
    <h1>{{prefLabel}}</h1>
    <div class="clear"></div>
    <dl class="big-margin-top">
    <dt class="medium-padding-bottom medium-padding-top"><h3>Cellular Location</h3></dt>
    <dd>{{cellularLocation}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Molecular Weight</h3></dt>
    <dd>{{molecularWeight}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Number of Residues</h3></dt>
    <dd>{{numberOfResidues}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Theoretical Pi</h3></dt>
    <dd>{{theoreticalPi}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Sub-class of</h3></dt>
    <dd>{{subClassOf}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Function Annotation</h3></dt>
    <dd>{{functionAnnotation}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Alternative Name</h3></dt>
    <dd>{{alternativeName}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Existence</h3></dt>
    <dd>{{existence}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Organism</h3></dt>
    <dd>{{organism}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Sequence</h3></dt>
    <dd>{{sequence}}</dd>
    </dl>
</div>
<div>
{{#linkTo 'target.pharmacology'}}Pharmacology{{/linkTo}}
{{#linkTo 'search'}}Back to Search{{/linkTo}}
</div>
</div>

<script type="text/javascript">
scrollOnThisPage = false;
</script>
