<div>
		<ul class="breadcrumb">
  			<li><a href="/">Home</a> <span class="divider">/</span></li>
  			<li>{{#linkTo 'compound.index' controllers.compound}}{{controllers.compound.prefLabel}}{{/linkTo}} <span class="divider">/</span></li>
  			<li class="active">Compound Phamacology</li>
			
			<div class="row pull-right"> 
				<div class="span1 small-padding-top small-padding-right">Provenance</div>
  				<div class="span2 btn-group" data-toggle="buttons-radio" style="margin-top:-5px;">
  					<button class="btn">On</button>
  					<button class="btn active">Off</button>
  				</div>
			</div>
		</ul>
		
		<div>  
		
		<!-- actual results -->
		<div id="summary-anchor">
		<div id="summary" class="compound_summary collapse in">
			
			<div id="compound-image" class="span2 small-padding-top big-padding-bottom">{{cs_image_src controllers.compound.csUri}}</div>
			<div class="row">
				<div class="span8">
    				<h3>{{#linkTo 'compound.index' controllers.compound}}{{controllers.compound.prefLabel}}{{/linkTo}}</h3>
   					<div class="row">
      					<div id="formula" class="span2 lead centre">{{formatMolecularFormula controllers.compound.molform}}</div>
      					<div class="span6 justify normal-font">{{expandableDescription controllers.compound.description}}</div>
    				</div>
  				</div>
  				<button id="toggle-summary" type="button" class="btn btn-link pull-right" data-target="#summary">less</button>

			<div id="structure" class="span5 small-padding-top">
  					<button  type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">SMILES and InChIs</button>
					<div id="demo" class="collapse out dl-horizontal" style="font-size:13px;">
						<dl>
  							<dt>SMILES</dt>
  							<dd>{{controllers.compound.smiles}}</dd>
  							<dt>Standard InChi</dt>
  							<dd>{{controllers.compound.inchi}}</dd>
  							<dt>Standard InChiKey</dt>
  							<dd>{{controllers.compound.inchiKey}}</dd>
						</dl>
					</div>
  			</div>
	 		

			</div>
		</div>
		</div>
	</div>

	<button class="btn btn-primary btn-mini text-top pull-right" title="Create TSV file for download" {{action "tsvDownload" this}}><i class="icon-white icon-download"></i></button>

	<!-- RESULT LISTING -->
	<div style="padding:30px">	
	<table class="mytable">
		<thead id="tablehead" class="headingstyle">
	
			<tr>
				<th class="lead lead-target">Target</th>
				<th></th>
				<th class="lead lead-assay">Assay</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			<tr>
			<tr>
				<th align="left">Name</th>
				<th width="10%">Organism</th>
				<th width="10%">Organism</th>
				<th align="left" width="300px">Description</th>
				<th>Type</th>
			 	<th>Relation</th>
				<th>Value</th>
				<th>Units</th>
				<th>PubMed Article</th>
			</tr>
		</thead>
		<tbody>
			{{#each compoundPharma in pharmacology}}
			<tr class="record-deco">
				<td style="vertical-align:middle;" height="70">{{#each compoundPharma.targets}}<p><button type="button" class="btn btn-link" {{action "navigateTo" this}}>{{this.title}}</button></p>{{/each}}</td>
				<td class="cell-basictext">{{#each compoundPharma.targetOrganisms}} {{this.organism}} {{/each}}</td>
				<td class="cell-basictext">{{compoundPharma.assayOrganism}}</td>
				<td class="cell-longtext">{{compoundPharma.assayDescription}}</td>
				<td class="lead cell-basictext">{{compoundPharma.activityActivityType}}</td>
				<td class="lead cell-basictext">{{compoundPharma.activityRelation}}</td>
				<!-- <td class="lead cell-basictext">{{compoundPharma.activityStandardValue}}</td> -->
                <!-- TODO seems to be some confusion in the 1.3 api what the value is called -->
                <td class="lead cell-basictext">{{compoundPharma.activityValue}}</td>
				<td class="lead cell-basictext">{{compoundPharma.activityStandardUnits}}</td>
				<td class="cell-basictext">{{linkablePubmedId compoundPharma.activityPubmedId}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
	
<script type="text/javascript">
$(window).off("scroll", scrollHandler);
scrollOnThisPage = true;
pageScrolling = false;
scrollHandler = function() {
    var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
    if (scrollPercent >= 99 && pageScrolling != true && scrollOnThisPage == true) {
        disable_scroll();
        pageScrolling = true;
        console.log("Fetching results for scroll " + pageScrolling);
        //this is not a very pleasant way to get the controller but can find no other method
        App.__container__.lookup('controller:compoundPharmacologyIndex').fetchMore();
    }
};
$(window).scroll(scrollHandler);

// Hide the extra content initially, using JS so that if JS is disabled, no problemo:
$('.read-more-content').addClass('hide')

// Set up a link to expand the hidden content:
.before('<a class="read-more-show" href="#"> more</a>')
  
// Set up a link to hide the expanded content.
.append(' <a class="read-more-hide" href="#"> less</a>');

// Set up the toggle effect:
$('.read-more-show').on('click', function(e) {
  $(this).next('.read-more-content').removeClass('hide');
  $(this).addClass('hide');
  e.preventDefault();
  	var s = $("#summary");
        s.css({
            height: "250px"
        });
});

$('.read-more-hide').on('click', function(e) {
  $(this).parent('.read-more-content').addClass('hide').parent().children('.read-more-show').removeClass('hide');
  e.preventDefault();
  var s = $("#summary");
        s.css({
            height: "135px"
        });
});
 var toggleSummary = true;
 
 $('#toggle-summary').on('click', function() {
 	console.log("var " + toggleSummary);
 	if (toggleSummary) {
		var s = $("#summary");
    
        s.css({
            height: "55px"
        });
    	$('#structure').hide();
			
    	var i = $('#compound-image');
		i.css({
			visibility:"hidden"
		});	
		toggleSummary = false;
		$(this).text(function(i, text){
          return "more";
      	});
      	
 	} else {
		var s = $("#summary");
        s.css({
            height: "135px",
            width: "100%"
        });
        $('#structure').show();

		var i = $('#compound-image');
			i.css({
			visibility:"visible"
		});
		toggleSummary = true;
		$(this).text(function(i, text){
          return "less";
      	});
 	}
 
 });
 
$(function() {
	moveScroller();
});
  
//sticky
function moveScroller() {
    var move = function() {
        var st = $(window).scrollTop();
        var ot = $("#summary-anchor").offset().top;
        var s = $("#summary");
        if(st > ot) {
            
    		s.css({
            	position: "fixed",
            	top: "0px",
            	height: "55px"
        	});
    		$('#structure').hide();
			
    		var i = $('#compound-image');
				i.css({
					visibility:"hidden"
				});
			toggleSummary = false;
			$('#toggle-summary').text(function(i, text){
    			return "more";
    		});
    		
    		
    		
        } else {
            
			s.css({
            	position: "relative",
            	top: "",
            	height: "135px",
            	width: "100%"
        	});
        	$('#structure').show();

			var i = $('#compound-image');
				i.css({
				visibility:"visible"
			});
		
			toggleSummary = true;
			$('#toggle-summary').text(function(i, text){
    			return "less";
    		});        
    	}
    };
    $(window).scroll(move);
    move();
}

</script>
