<h1>Pharmacology for {{#linkTo 'compound.index' controllers.compound}}{{controllers.compound.prefLabel}}{{/linkTo}}</h1>
<table class="table table-striped">
  <tr><th>Name</th><th>Inchi Key</th><th>Drug Type</th><th>Generic Name</th><th>Full MWT</th><th>Inchi</th><th>Smiles</th><th>Pubmed ID</th></tr>
  {{#each compoundPharma in pharmacology}}
  <tr><td>{{compoundPharma.compoundPrefLabel}}</td>
  <td>{{compoundPharma.compoundInchikey}}</td>
  <td>{{compoundPharma.compoundDrugType}}</td>
  <td>{{compoundPharma.compoundGenericName}}</td>
  <td>{{compoundPharma.compoundFullMwt}}</td>
  <td>{{compoundPharma.compoundInchi}}</td>
  <td>{{compoundPharma.compoundSmiles}}</td>
  <td>{{compoundPharma.activityPubmedId}}</td></tr>
  {{/each}}
</table>

<script type="text/javascript">
$(window).off("scroll", scrollHandler);
scrollOnThisPage = true;
pageScrolling = false;
scrollHandler = function() {
    var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
    if (scrollPercent >= 99 && pageScrolling != true && scrollOnThisPage == true) {
        disable_scroll();
        pageScrolling = true;
        console.log("Fetching results for scroll " + pageScrolling);
        //this is not a very pleasant way to get the controller but can find no other method
        App.__container__.lookup('controller:compoundPharmacologyIndex').fetchMore();
    }
};
$(window).scroll(scrollHandler);
</script>
