<div class="goto-button" id="top"><button class="btn btn-default btn-sm" {{action "goToTop"}} title="Click to return to the top of the table">Go to top</button></div>
<ul class="breadcrumb hidden-xs">
	<li><a href="/">Home</a></li>
	<li>{{#link-to "pathways.index" (query-params uri=URI)}}{{title}}{{/link-to}}</li>
	<li class="active">Compounds</li>
</ul>
{{partial "pathways/pathwayCompoundsSummary"}}
<!-- RESULT LISTING -->
<div class="huge-padding-top table-responsive">
	<table>
		{{partial "pathways/pathwayCompoundsTableHeader"}}
		{{partial "pathways/pathwayCompoundsTableBody"}}
	</table>
</div>
