<style>
	dt {
		padding: 20px 0 0 0;
	}
	dd {
		padding: 20px 0 0 0; }
</style>

<!-- breadcrumb	-->
<div class="breadcrumb">
	<ul class="breadcrumb inline">
		<li><a href="/">Home</a></li>
		<li>{{title}}</li>
		<li class="active">Pathway Information</li>
	</ul>
	<span class="pull-right" style="margin-top: -6px;">
		<span class="small-padding-top small-padding-right">Provenance </span>
		<span class="btn-group" data-toggle="buttons">
			<label {{action 'enableProvenance'}} class="btn btn-default">
				<input type="radio" name="options" id="option1" checked>On
			</label>
			<label {{action 'disableProvenance'}} class="btn btn-default active">
				<input type="radio" name="options" id="option2">Off
			</label>
		</span>
	</span>
</div>


<!-- main -->
<div class="large-top-spacing">
	<div class="row">

		<!--Body content-->
		<div class="col-md-9">

			<!--title-->
			<div>
				<div style="padding:20px 0 0 0">
					<h1>{{title}} {{#if showProvenance}}{{provenanceLinkout wikipathwaysProvenance.title wikipathwaysProvenance.source}}{{/if}}</h1>
				</div>

				<div style="padding:30px 0 0 0;text-align:left;">
					{{#link-to "pathways.compounds" (query-params uri=URI)}}Compounds{{/link-to}}
				</div>
			</div>

			<!--description-->
			<div class="summary-descriptive-text large-top-spacing">
				<p>{{description}} {{#if showProvenance}}{{provenanceLinkout wikipathwaysProvenance.description wikipathwaysProvenance.source}}{{/if}}</p>
			</div>


			<!--details-->
			<div class="dl-horizontal" style="font-size:13px;">
				<dl>
					<!--identifier ID-->
					{{#if identifier}}
					<dt>Identifier</dt>
					<dd>{{pathwayShortLink identifier}}</dd>
					{{/if}}

					<!--organism-->
					{{#if organism}}
					<dt>Organism</dt>
					<dd>{{organismLabel}}  ({{organismLink organism}})</dd>
					{{/if}}

					{{#if pathwayOntologies}}
					<dt>Ontologies</dt>
					<dd>
					{{#each ontology in pathwayOntologies}}
					<p>{{ontologyLink ontology}}</p>
					{{/each}}
					</dd>
					{{/if}}

					<!--genes-->
					{{#if geneProductLabel}}
					<dt>Gene product</dt>
					<dd>{{geneProductLabel}}  ({{geneProductURI}}) <p>{{about}}</p></dd>
					{{/if}}

					{{#if parts}}
					<dt>Parts</dt>
					<dd>
					{{#each part in parts}}
					<p>{{vocabPart part.type}} {{#if showProvenance}}({{pathwayShortLink part.about}}) {{provenanceLinkout part.about wikipathwaysProvenance.source}}{{else}}({{pathwayShortLink part.about}}){{/if}}</p>
					{{/each}}
					</dd>
					{{/if}}

				</div>

			</div>
		</div>
	</div>
</div>
