<style>
	dt { 
		padding: 20px 0 0 0;
	}
	dd { 
		padding: 20px 0 0 0; }
</style>

<!-- breadcrumb	-->
	<ul class="breadcrumb">
  		<li><a href="/">Home</a></li>
		<li><span class="divider">/</span>{{title}}<span class="divider">/</span></li>
  		<li class="active">Pathway Information</li>

		<!-- to add provenance toggle here	-->

	</ul>

  			<!-- main -->
	<div class="container">
	<div class="container-fluid large-top-spacing">
  		<div class="row-fluid">
    		
    		<!--Body content-->
    		<div class="span9">
     			
				<!--title-->
				<div>
					<div style="padding:20px 0 0 0">
						<h1>{{title}}</h1>
					</div>
					
					<div style="padding:30px 0 0 0;text-align:left;">
						{{objectLink 'pathways' 'compounds' 'Compounds' this}}
					</div>
				</div>
							
				<!--description-->
				<div class="summary-descriptive-text large-top-spacing">
        			{{#if description}}
            			<p>{{description}}</p>
        			{{/if}}
				</div>
				
				
				<!--details-->
				<div class="dl-horizontal" style="font-size:13px;">
					<dl>
            			<!--identifier ID-->
						{{#if identifier}}
  							<dt>Identifier</dt>
  							<dd>{{pathwayShortLink identifier}}</dd>
						{{/if}}

            			<!--organism-->
						{{#if organism}}
							<dt>Organism</dt>
                  			<dd>{{organismLabel}}  ({{organismLink organism}})</dd>
						{{/if}}
  						
  						{{#if pathwayOntologies}}
							<dt>Ontologies</dt>
                  			<dd>
                  			{{#each ontology in pathwayOntologies}}
								<p>{{ontologyLink ontology}}</p>
							{{/each}}
                  			</dd>
						{{/if}}
						
						<!--genes-->
						{{#if geneProductLabel}}
							<dt>Gene product</dt>
                  			<dd>{{geneProductLabel}}  ({{geneProductURI}}) <p>{{about}}</p></dd>
						{{/if}}
						
						{{#if parts}}
							<dt>Parts</dt>
							<dd>
							{{#each part in parts}}
								<p>{{vocabPart part.type}} ({{pathwayShortLink part.about}}) </p>
							{{/each}}
							</dd>
						{{/if}}
             
     			</div>
     			
    		</div>
  		</div>
	</div>
	</div>
	
</div>
