<div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
	<div class="hidden-xs hidden-sm">
		<span class="button-group" data-toggle="buttons">
			<label {{action 'enableProvenance'}} class="small-margin-bottom btn btn-default">
				<input type="radio" name="options" id="option1" checked>Show provenance
			</label>
			<label {{action 'disableProvenance'}} class="small-margin-bottom btn btn-default active">
				<input type="radio" name="options" id="option2">Hide provenance
			</label>
		</span>
		{{#if hasCompounds}}{{#link-to "pathways.compounds" (query-params uri=URI) class="btn btn-default"}}Compounds<span class="badge small-margin-left">{{this.compoundRecords}}</span>{{/link-to}}{{/if}}
	</div>
	<!-- Show as dropdown on smaller screens -->
	<div class="hidden-md hidden-lg">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				Options <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li {{bind-attr class="showProvenance:disabled:"}}><a href="#" {{action 'enableProvenance'}}>Show provenance</a></li>
				<li {{bind-attr class="showProvenance::disabled"}}><a href="#" {{action 'disableProvenance'}}>Hide provenance</a></li>
				<li class="divider"></li>
				{{#if hasCompounds}}<li>{{#link-to "pathways.compounds" (query-params uri=this.URI)}}Compounds<span class="badge small-margin-left">{{this.compoundRecords}}</span>{{/link-to}}</li>{{/if}}
			</ul>
		</div>
	</div>
</div>
