<div class="dl-horizontal">
	<dl class="dl-text-left">
		<!--identifier ID-->
		{{#if model.identifier}}
		<dt>Identifier</dt>
		<dd>{{pathwayShortLink model.identifier}}</dd>
		{{/if}}

		<!--organism-->
		{{#if model.organism}}
		<dt>Organism</dt>
		<dd>{{organismLink model.organism model.organismLabel}}</dd>
		{{/if}}

		{{#if model.pathwayOntologies}}
		<dt>Ontologies</dt>
		<dd>
		{{#each model.pathwayOntologies as |ontology|}}
		<p>{{ontologyLink ontology}}</p>
		{{/each}}
		</dd>
		{{/if}}

		<!--genes-->
		{{#if model.geneProductLabel}}
		<dt>Gene product</dt>
		<dd>{{model.geneProductLabel}}  ({{model.geneProductURI}}) <p>{{model.about}}</p></dd>
		{{/if}}

		{{#if model.parts}}
		<dt>Parts</dt>
		<dd>
		{{#each model.parts as |part|}}
		<p>{{vocabPart part.type}} {{#if showProvenance}}({{pathwayShortLink part.about}}) {{provenanceLinkout part.about wikipathwaysProvenance.source}}{{else}}({{pathwayShortLink part.about}}){{/if}}</p>
		{{/each}}
		</dd>
		{{/if}}
	</dl>
</div>
