<!-- Modal for alerts -->
<div id="alertsModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action "dismissAlerts"}}>×</button>
				<h3 id="myModalLabel">Alerts!</h3>
			</div>
			<div class="modal-body">
				{{#if anyJobs}}
				<div class="table-responsive">
					<table class="mytable centersummary">
						<thead id="tablehead" class="headingstyle">
							<tr><th style="width: 30%;">Label</th><th style="width:30%;">Percentage</th><th style="width:20%;">Status</th><th style="width:10%;"></th><th style="width: 10%;"></th></tr>
						</thead>
						<tbody>
							{{#each job in jobsList}}
							<tr class="record-deco">{{getLabelWithTooltip job}}<td>{{progressBar job.percentage}}</td><td>{{job.status}}</td><td>{{completedJob job.status job.uuid}}</td><td><button type="button" class="close" title="Remove this job" {{action "removeJob" job}} >×</button></td></tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				{{else}}
				There are no alerts
				{{/if}}
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<!-- End of Modal for alerts -->
