<!-- Modal for alerts -->
<div id="alertsModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action "dismissAlerts"}}>×</button>
				<h3 id="myModalLabel">Alerts!</h3>
			</div>
			<div class="modal-body">
				{{#if anyJobs}}
				<div class="table-responsive">
					<table class="mytable centersummary">
						<thead id="tablehead" class="headingstyle">
							<tr><th class="centre" style="width: 30%;">Label</th><th class="centre" style="width:30%;">Percentage</th><th class="centre" style="width:20%;">Status</th><th class="centre" style="width:10%;"></th><th style="width: 10%;"></th></tr>
						</thead>
						<tbody>
							{{#each job in jobsList}}
							{{#if job.complete}}
							<tr class="record-deco">{{getLabelWithTooltip job}}
								<td><div class="progress no-margin">{{progressBar job}}</div></td>
								<td class="centre">{{job.status}}</td>
								<td class="centre">
									<button class="btn btn-default btn-small small-margin-left small-margin-right" {{action 'downloadTSV' job.uuid}}>Download</button>
								</td>
								<td><button type="button" class="close" title="Remove this job" {{action "removeJob" job}} >×</button></td>
							</tr>
							{{else}}
							<tr class="record-deco">{{getLabelWithTooltip job}}
								<td><div class="progress no-margin">{{progressBar job}}</div></td>
								<td class="centre">{{job.status}}</td>
								<td class="centre">
									<button class="btn btn-default btn-small small-margin-left small-margin-right" disabled="disabled">Download</button>
								</td>
								<td><button type="button" class="close" title="Remove this job" {{action "removeJob" job}} >×</button></td>
							</tr>
							{{/if}}
							{{/each}}
						</tbody>
					</table>
				</div>
				{{else}}
				There are no alerts
				{{/if}}
			</div>
		</div>
	</div>
</div>
<!-- End of Modal for alerts -->
