{{partial "alertsModal"}}
{{#view App.FlashView id="flash-view"}}
<div id="message">
	{{view.content.message}}
</div>
{{/view}}
{{partial "navbar"}}
{{#if notOldIE}}
<div {{bind-attr class="fetching::invisible :spinner :bar"}}>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
{{else}}
<div {{bind-attr class="fetching::invisible :loading-info"}}>LOADING</div>
{{/if}}

<div class='content container-fluid'>
	{{outlet}}
</div>
