<!-- Modal for alerts -->
<div id="alertsModalView" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
	<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action "dismissAlerts"}}>×</button>
<h3 id="myModalLabel">Alerts!</h3>
</div>
<div class="modal-body" style="overflow-y: visible;">
    {{#if anyJobs}}
	<table class="mytable centersummary">
		<thead id="tablehead" class="headingstyle">
          <tr><th>Label</th><th>Percentage</th><th>Status</th><th></th><th><th></tr>
        </thead>
        <tbody>
{{#each job in jobsList}}
          <tr class="record-deco">{{getLabelWithTooltip job}}<td>{{progressBar job.percentage}}</td><td>{{job.status}}</td><td>{{completedJob job.status job.uuid}}</td><td><button type="button" class="close" title="Remove this job" {{action "removeJob" job}} >×</button></td></tr>
{{/each}}
        </tbody>
    </table>
    {{else}}
    There are no alerts
    {{/if}}
</div>
</div>
</div>
</div>
</div>
<!-- End of Modal for alerts -->
{{#view App.FlashView id="flash-view"}}
  <div id="message">
    {{view.content.message}}
  </div>
  {{/view}}
	  <nav class="navbar navbar-static-top navbar-inverse" role="navigation" style="z-index: 1;">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#explorer-navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
							      </button>
		<a class="navbar-brand" href="/"><img  src="/assets/ops_logo.png" width="25" height="25"> Open PHACTS Explorer<sup class="release-status">Alpha</sup></a>
	</div>
	<div class="collapse navbar-collapse" id="explorer-navbar-collapse">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group" id="search-form" title="Search for compounds or targets using free text eg Asprin, PDE5 or a SMILES eg CC(=O)OC1=CC=CC=C1C(=O)O. Some auto-complete suggestions may be provided but you do not have to select these. To ignore them just click the button to search using the text you entered in the box. To remove the suggestions click Escape (ESC). You can also just hit enter when you have finished typing in but this will probably select the first auto-complete suggestion provided.">
			{{input type="text" placeholder="Enter search terms" value=searchQuery action="query" id="search_box" class="form-control" autocomplete="off"}}
		</div>
      <button id="search-button" type="submit" class="btn btn-default" {{action 'query'}}>Search</button>	
</form>
<ul class="nav navbar-nav navbar-right">
<li title="Draw a structure and search for the compound.">{{#link-to "compounds.draw"}}Draw Molecule{{/link-to}}</li>
<li id="target-class" title="Click to view ontology browser.">{{#link-to 'trees.index'}}Browse by Ontology{{/link-to}}</li>
<li><a href="#alertsModalView" data-toggle="modal" title="Turns red when there are any alerts you need to pay attention to. Click to view."><span {{bind-attr class="alertsAvailable:label alertsAvailable:label-important"}}><i class="fa fa-bell-o"></i></span></a></li>
</ul>
</div>
</div>
</nav>
  {{#if notOldIE}}
<div {{bind-attr class="fetching::invisible :spinner :bar"}}>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
</div>
{{else}}
<div {{bind-attr class="fetching::invisible :loading-info"}}>LOADING</div>
{{/if}}

<div class='content container-fluid'>
	{{outlet}}
</div>
