<div class="row">
<div class="span8 search-exact-match big-padding medium-margin-top medium-border-radius">
    <div class="small-margin-left small-margin-top left">{{cs_image_src csUri}}</div>
    <div class="huge-font big-margin-top center">{{compoundPrefLabel}}</div>
    <div class="clear"></div>
    <div class="compound-smiles big-font big-margin-right big-margin-top medium-padding">{{compoundSmiles}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">description</div>
    <div class="big-margin-left big-margin-right">{{description}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">toxicity</div>
    <div class="medium-margin-top big-margin-left big-margin-right">{{toxicity}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">protein binding</div>
    <div class="big-margin-left big-margin-right">{{proteinBinding}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">bio-transformation</div>
    <div class="big-margin-left big-margin-right">{{biotransformationItem}}</div>
</div>
</div>
<div class="row span8">
{{#linkTo 'index'}}Back to Search{{/linkTo}}
</div>

<script type="text/javascript">
scrollOnThisPage = false;
</script>
