<div class="row">
<div class="search-exact-match big-margin-top">
    <div class="big-margin-right thumbnail left">{{cs_image_src csUri}}</div>
    <h1>{{compoundPrefLabel}}</h1>
    <div class="clear"></div>
    <div class="compound-smiles big-font big-margin-right big-margin-top">{{compoundSmiles}}</div>
    <dl class="big-margin-top">
    <dt class="medium-padding-bottom"><h3>description</h3></dt>
    <dd>{{description}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>toxicity</h3></dt>
    <dd>{{toxicity}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>protein binding</h3></dt>
    <dd>{{proteinBinding}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>bio-transformation</h3></dt>
    <dd>{{biotransformationItem}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>full molecular weight</h3></dt>
    <dd>{{fullMWT}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>hba</h3></dt>
    <dd>{{hba}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>hbd</h3></dt>
    <dd>{{hbd}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>inchi</h3></dt>
    <dd>{{inchi}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>mw freebase</h3></dt>
    <dd>{{mwFreebase}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>ro5 violations</h3></dt>
    <dd>{{ro5Violations}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>rtb</h3></dt>
    <dd>{{rtb}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>logp</h3></dt>
    <dd>{{logp}}</dd>
    </dl>
</div>
<div>
{{#linkTo 'search'}}Back to Search{{/linkTo}}
</div>
</div>

<script type="text/javascript">
scrollOnThisPage = false;
</script>
