<!-- breadcrumb	-->
<ul class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><span class="divider">/</span></li>
	<li class="active">Favourites</li>
</ul>

<div class="container-fluid">
<table class="mytable">
	<thead  class="headingstyle">
		<tr><th>Type</th><th>Image</th><th>Label</th></tr>
	</thead>
	<tbody>
{{#each}}
<tr class="record-deco">
	{{#if isCompound}}
	<td>Compound</td><td>{{cs_image_src csURI}}</td><td>{{#link-to "compounds.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</td>
	{{else}}
	<td>Target</td><td>{{target_image_src seeAlso}}</td><td>{{#link-to "targets.index" (query-params uri=URI)}}{{prefLabel}}{{/link-to}}</td>
	{{/if}}
</tr>
{{/each}}
</tbody>
</table>
</div>
