{{#if flashMessage.isNotice}}
<div class="alert alert-info alert-dismissible no-left-margin no-right-margin small-margin-bottom small-padding" role="alert">
	<button type="button" class="close" style="right: 0px;" data-dismiss="alert" {{action "click" flashMessage target=view}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{{flashMessage.message}}
</div>
{{/if}}
{{#if flashMessage.isSuccess}}
<div class="alert alert-success alert-dismissible no-left-margin no-right-margin small-margin-bottom small-padding" role="alert">
	<button type="button" class="close" style="right: 0px;" data-dismiss="alert" {{action "click" flashMessage target=view}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{{flashMessage.message}}
</div>
{{/if}}
{{#if flashMessage.isError}}
<div class="alert alert-danger alert-dismissible no-left-margin no-right-margin small-margin-bottom small-padding" role="alert">
	<button type="button" class="close" style="right: 0px;" data-dismiss="alert" {{action "click" flashMessage target=view}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{{flashMessage.message}}
</div>
{{/if}}
