<div>
	{{#if result.isCompound}}
	{{#if compoundsChecked}}
	{{#if listView}}
	<div class="medium-margin-bottom">
		<div>
			<h4 class="inline">{{#link-to "compounds.index" (query-params uri=result.URI)}}<span>{{result.prefLabel}}</span>{{/link-to}}</h4>
			<p class="inline">
			<small>
				<em>Compound</em>
				{{#if result.hasPathways}}<em>, {{#link-to "compounds.pathways" (query-params uri=result.URI)}}{{result.pathwayRecords}} Pathways{{/link-to}}</em>{{/if}}
				{{#if result.hasPharmacology}}<em>, {{#link-to "compounds.pharmacology" (query-params uri=result.URI)}}{{result.pharmacologyRecords}} Pharmacology{{/link-to}}</em>{{/if}}
			</small>
			</p>
		</div>
	</div>
	{{else}}
	{{partial "searchMatchCompound"}}
	{{/if}}
	{{/if}}
	{{else}}
	{{#if targetsChecked}}
	{{#if listView}}
	<div class="medium-margin-bottom">
		<div>
			<h4 class="inline">
				{{#link-to "targets.index" (query-params uri=result.URI)}}<span>{{result.prefLabel}}</span>{{/link-to}}
			</h4>
			<p class="inline">
			<small>
				<em>Target</em>
				{{#if result.hasPathways}}<em>, {{#link-to "targets.pathways" (query-params uri=result.URI)}}{{result.pathwayRecords}} Pathways{{/link-to}}</em>{{/if}}
				{{#if result.hasPharmacology}}<em>, {{#link-to "targets.pharmacology" (query-params uri=result.URI)}}{{result.pharmacologyRecords}} Pharmacology{{/link-to}}</em>{{/if}}
			</small>
			</p>
		</div>
	</div>
	{{else}}
	{{partial "searchMatchTarget"}}
	{{/if}}
	{{/if}}
	{{/if}}
</div>
