<div style="padding:20px 0px 0px 200px;">  

{{#if result.isCompound}}
	
	<div class="single-search-result row" style="max-width:800px">
		<div class="span9">
			<h2>{{#link-to "compounds.index" (query-params uri=result.URI)}}{{result.prefLabel}}{{/link-to}}</h2>
			<p><small><em>Compound</em></small></p>
		</div>
		
		<div class="span2" style="padding:0px 30px 10px 20px">
			<div class="thumbnail" style="background:white;">{{cs_image_src result.csURI}}</div>
		</div>
		<div class="row span7">
			<div id="formula1" class="lead" style="padding:5px 0px 0px 0px;max-height:15px">{{formatMolecularFormula result.molform}}</div>
			<div style="text-align:justify;padding:5px 0px 0px 0px;" ><small>{{result.description}}</small></div>
			<div class="pull-right" style="padding:5px 0px 0px 0px">
				<p>{{#link-to "compounds.pharmacology" (query-params uri=result.URI)}}Pharmacology{{/link-to}}</p>
				<p>{{#link-to "compounds.pathways" (query-params uri=result.URI)}}Pathways{{/link-to}}</p>
				<p>{{#link-to "compounds.structure" (query-params uri=result.URI type="exact")}}Structure{{/link-to}}</p>
			</div>
		</div>
	
	</div>

<!-- The views are rendered in the index template and it looks like you cannot add actions to
     the IndexController (ember complains if you try to create your own IndexController -->

{{else}}
<div class="single-search-result row" style="max-width:800px">
		<div class="span9">
			<h2>{{#link-to "targets.index" (query-params uri=result.URI)}}{{result.prefLabel}}{{/link-to}}</h2>
			<p><small><em>Target</em></small></p>
		</div>
		
		<div class="span2" style="padding:0px 30px 10px 20px">
			<div class="thumbnail">{{target_image_src result.seeAlso}}</div>
		</div>
		<div class="row span7">
			<div style="text-align:justify;padding:5px 0px 0px 0px;" ><small>{{result.alternativeName}}</small></div>
			<div class="pull-right" style="padding:5px 0px 0px 0px">
				<p>{{#link-to "targets.pharmacology" (query-params uri=result.URI)}}Pharmacology{{/link-to}}</p>
                <p>{{#link-to "targets.pathways" (query-params uri=result.URI)}}Pathways{{/link-to}}</p>
			</div>
		</div>
	
	</div>
{{/if}}
    
</div>
