<div class="single-search-result row" style="max-width:800px">
	<div class="small-padding-bottom huge-padding-left">
		<h4 class="inline small-padding-right">{{#link-to "targets.index" (query-params uri=result.URI)}}{{result.prefLabel}}{{/link-to}}</h4>
		<p class="inline"><small><em>Target</em></small></p>
	</div>

	<div class="col-md-3" style="padding:0px 30px 10px 20px">
		<div class="thumbnail">{{target_image_src result.seeAlso}}</div>
	</div>
	<div class="row col-md-8">
		<div style="text-align:justify;" ><small>{{result.alternativeName}}</small></div>
		<div>
			<ul class="small-padding-top list-unstyled no-margin">
				<li>
				{{#if result.pharmacologyInfoAvailable}}
				{{#if result.hasPharmacology}}
				{{#link-to "targets.pharmacology" (query-params uri=result.URI)}}Pharmacology ({{result.pharmacologyRecords}}){{/link-to}}
				{{else}}
				Pharmacology ({{result.pharmacologyRecords}})
				{{/if}}
				{{else}}
				<small><em>Fetching Pharmacology Count</em></small>
				{{/if}}
				</li>
				<li class="inline">
				{{#if result.pathwayInfoAvailable}}
				{{#if result.hasPathways}}
				{{#link-to "targets.pathways" (query-params uri=result.URI)}}Pathways ({{result.pathwayRecords}}){{/link-to}}
				{{else}}
				Pathways ({{result.pathwayRecords}})
				{{/if}}
				{{else}}
				<small><em>Fetching Pathway Count</em></small>
				{{/if}}
				</li>
			</ul>
		</div>
	</div>
</div>
