<div class="search-exact-match big-padding medium-margin medium-border-radius">
    <div class="small-margin-left small-margin-top left"><img width="128" height="128" src="{{cs_image_src}}"></div>
    <div class="compound-smiles big-font big-margin-right big-margin-top medium-padding right">{{smiles}}</div>
    <div class="huge-font big-margin-top center">{{label}}</div>
    <div class="clear"></div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">description</div>
    <div class="big-margin-left big-margin-right">{{description}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">toxicity</div>
    <div class="medium-margin-top big-margin-left big-margin-right">{{toxicity}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">protein binding</div>
    <div class="big-margin-left big-margin-right">{{proteinbinding}}</div>
    <div class="big-font medium-margin-top small-margin-left small-margin-bottom">bio-transformation</div>
    <div class="big-margin-left big-margin-right">{{biotransformation}}</div>
</div>
