<div class="single-search-result row" style="max-width:800px">
	<div class="small-padding-bottom huge-padding-left">
		<h4 class="inline small-padding-right">{{#link-to "compounds.index" (query-params uri=result.URI)}}{{result.prefLabel}}{{/link-to}}</h4>
		<p class="inline"><small><em>Compound</em></small></p>
	</div>
	<div class="col-md-3" style="padding:0px 30px 10px 20px">
		<div class="thumbnail compound-result-image" title="Click to search for compounds with this structure">
			{{#link-to "compounds.structure" (query-params uri=result.URI type="exact")}}{{cs_image_src result.csURI}}{{/link-to}}
		</div>
	</div>
	<div class="row col-md-8">
		<div id="formula1" class="lead" style="max-height:15px;">{{formatMolecularFormula result.molform}}</div>
		<div style="text-align:justify;" ><small>{{result.description}}</small></div>
		<ul class="small-padding-top list-unstyled no-margin">
			<li>
			{{#if result.pharmacologyInfoAvailable}}
			{{#if result.hasPharmacology}}
			{{#link-to "compounds.pharmacology" (query-params uri=result.URI)}}Pharmacology ({{result.pharmacologyRecords}}){{/link-to}}
			{{else}}
			Pharmacology ({{result.pharmacologyRecords}})
			{{/if}}
			{{else}}
			<small><em>Fetching Pharmacology Count</em></small>
			{{/if}}
			</li>
			<li>
			{{#if result.pathwayInfoAvailable}}
			{{#if result.hasPathways}}
			{{#link-to "compounds.pathways" (query-params uri=result.URI)}}Pathways ({{result.pathwayRecords}}){{/link-to}}
			{{else}}
			Pathways ({{result.pathwayRecords}})
			{{/if}}
			{{else}}
			<small><em>Fetching Pathway Count</em></small>
			{{/if}}
			</li>
		</ul>
	</div>
</div>
