<div class="search-exact-match big-padding medium-margin-top">
    <div class="small-margin-left small-margin-top left cs-image">{{cs_image_src compound.csUri}}</div>
    <div class="huge-font big-margin-top right compound-label">{{#linkTo compound compound}}{{compound.compoundPrefLabel}}{{/linkTo}}</div>
    <div class="clear"></div>
<!-- The views are rendered in the index template and it looks like you cannot add actions to
     the IndexController (ember complains if you try to create your own IndexController -->
{{#if compound.isExpanded}}
    <div class="compound-smiles big-font big-margin-right big-margin-top">{{compound.compoundSmiles}}</div>
    <dl class="big-margin-top">
    <dt class="big-font medium-padding-bottom">description</dt>
    <dd>{{compound.description}}</dd>
    <dt class="big-font medium-padding-bottom medium-padding-top">toxicity</dt>
    <dd>{{compound.toxicity}}</dd>
    <dt class="big-font medium-padding-bottom medium-padding-top">protein binding</dt>
    <dd>{{compound.proteinBinding}}</dd>
    <dt class="big-font medium-padding-bottom medium-padding-top">bio-transformation</dt>
    <dd>{{compound.biotransformationItem}}</d>
    </dl>
    <div class="big-margin"><button {{action contract target="view"}}>Hide details...</button></div>
{{else}}
    <div class="big-margin"><button {{action expand target="view"}}>More details...</button></div>
{{/if}}
</div>
