<div class="breadcrumb">
	<ul class="breadcrumb inline">
  		<li><a href="/">Home</a></li>
  		<li>General Search</li>
		<li class="active">{{totalResults}} Search Results Found</li>
		</ul>
	<span title="Check or uncheck to view or hide compounds" class="small-margin-right">{{totalCompounds}} Compounds</span>{{view Ember.Checkbox checkedBinding="compoundsChecked" id="compounds-checkbox"}}
		<span title="Check or uncheck to view or hide targets" class="small-margin-right small-margin-left">{{totalTargets}} Targets</span><span>{{view Ember.Checkbox checkedBinding="targetsChecked" id="targets-checkbox"}}</span></ul>
		<span class="pull-right btn-group" style="margin-top: -6px;" data-toggle="buttons-radio"> 
  				<button {{action switchView}} {{bind-attr class=":btn listViewActive:active"}} title="View only the label for search results">List</button>
  				<button {{action switchView}} {{bind-attr class=":btn objectViewActive:active"}} title="View label, image and description for search results">Object</button>
		</span>
		</div>
	<div id="search-results">
	<ul style="list-style-type: none">
    {{#each result in controller}}
		<li class="inline">
  				{{view App.SearchResult resultBinding='result'}}
		</li>
	{{/each}}
</ul>
</div>
