<div style="padding:10px 0px 0px 200px;">  
{{#if result.isCompound}}
	<div class="single-search-result row" style="max-width:800px">
		<div class="span9">
			<h2>{{objectLink 'compounds' '' result.prefLabel result}}</h2>
			<p><small><em>Compound</em></small></p>

		</div>
		
		<div class="span2" style="padding:0px 30px 10px 20px">
			<div class="thumbnail">{{cs_image_src result.csURI}}</div>
		</div>
		<div class="row span7">
			<div id="formula1" class="lead" style="padding:5px 0px 0px 0px;max-height:15px">{{result.molform}}</div>
			<div style="text-align:justify;padding:5px 0px 0px 0px;" ><small>{{result.description}}</small></div>
			<div class="pull-right" style="padding:5px 0px 0px 0px">
				<p>{{objectLink 'compounds' 'pharmacology' 'Pharmacology' result}}</p>
				<p>{{objectLink 'compounds' 'pathways' 'Pathways' result}}</p>
				<p>{{objectLink 'compounds' 'structure' 'Structure' result}}</p>
			</div>
		</div>
	
	</div>

{{else}}
	<div class="single-search-result row" style="max-width:800px">
		<div class="span9">
			<h2>{{#linkTo target result}}{{result.prefLabel}}{{/linkTo}}</h2>
			<p><small><em>Target</em></small></p>
		</div>
		
		<div class="span2" style="padding:0px 30px 10px 20px">
			<div class="thumbnail">{{target_image_src result.seeAlso}}</div>
		</div>
		<div class="row span7">
			<div style="text-align:justify;padding:5px 0px 0px 0px;" ><small>{{result.alternativeName}}</small></div>
			<div class="pull-right" style="padding:5px 0px 0px 0px">
				<p>{{#linkTo 'target.pharmacology' result}}Pharmacology{{/linkTo}}</p>
                <p>{{#linkTo 'target.pathways' result}}Pathways{{/linkTo}}</p>
			</div>
		</div>
	
	</div>
{{/if}}
</div>

<script type="text/javascript">

	$("div").each(function (index, domEle) {
	
		if ($(this).is("#formula1")) {
			
			var formula = $(this).text();
			formula = formula.replace(/(\d+)?\s*/g, "<sub>$1</sub>");
			$(this).html(formula);
		}	
	
	});

</script>
