<div style="padding:30px 0px 0px 200px;">  

{{#if result.isCompound}}
	
	<div class="single-search-result row" style="max-width:800px">
		<div class="span9">
			<h2>{{#linkTo compound result}}{{result.prefLabel}}{{/linkTo}}</h2>
		</div>
		
		<div class="span2" style="padding:0px 30px 10px 20px">
			<div class="thumbnail">{{cs_image_src result.csUri}}</div>
		</div>
		<div class="row span7">
			<div id="formula1" class="lead" style="padding:5px 0px 0px 0px;max-height:15px">{{result.molform}}</div>
			<div style="text-align:justify;padding:5px 0px 0px 0px;" ><small>{{result.description}}</small></div>
			<div class="pull-right" style="padding:5px 0px 0px 0px">
				{{#linkTo 'compound.pharmacology' result}}Pharmacology{{/linkTo}}
			</div>
		</div>
	
	</div>
 

<!-- The views are rendered in the index template and it looks like you cannot add actions to
     the IndexController (ember complains if you try to create your own IndexController -->

{{else}}
    <div class="big-margin-right thumbnail left">{{target_image_src result.seeAlso}}</div>
    <h1>{{#linkTo target result}}{{result.description}}{{/linkTo}}</h1>
    <div class="clear"></div>
{{#if result.isExpanded}}
    <dl class="big-margin-top">
    <dt class="medium-padding-bottom medium-padding-top"><h3>Cellular Location</h3></dt>
    <dd>{{result.cellularLocation}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Molecular Weight</h3></dt>
    <dd>{{result.molecularWeight}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Number of Residues</h3></dt>
    <dd>{{result.numberOfResidues}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Theoretical Pi</h3></dt>
    <dd>{{result.theoreticalPi}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Sub-class of</h3></dt>
    <dd>{{result.subClassOf}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Function Annotation</h3></dt>
    <dd>{{result.functionAnnotation}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Alternative Name</h3></dt>
    <dd>{{result.alternativeName}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Existence</h3></dt>
    <dd>{{result.existence}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Organism</h3></dt>
    <dd>{{result.organism}}</dd>
    <dt class="medium-padding-bottom medium-padding-top"><h3>Sequence</h3></dt>
    <dd>{{result.sequence}}</dd>
    </dl>
    <div class="big-margin"><button {{action contract target="view"}}>Hide details...</button></div>
{{else}}
    <div class="big-margin"><button {{action expand target="view"}}>More details...</button></div>
{{/if}}
{{/if}}
</div>

<script type="text/javascript">

	$("div").each(function (index, domEle) {
	
		if ($(this).is("#formula1")) {
			
			var formula = $(this).text();
			formula = formula.replace(/(\d+)?\s*/g, "<sub>$1</sub>");
			$(this).html(formula);
		}	
	
	});

</script>
