<ul class="hidden-xs breadcrumb">
	<li>{{#link-to "index"}}Home{{/link-to}}</li>
	<li>General Search</li>
	<li class="active">{{totalResults}} Search Results Found</li>
</ul>
<div class="hidden-xs row medium-margin-bottom">
	<div class="col-sm-4">
		<span title="Check or uncheck to view or hide compounds" class="small-margin-right">Compounds</span><span class="badge compound-checkbox-label">{{totalCompounds}}</span><span class="small-margin-left">{{input type="checkbox" checked=compoundsChecked id="compounds-checkbox"}}</span>
		<span title="Check or uncheck to view or hide targets" class="small-margin-right small-margin-left">Targets</span><span class="badge target-checkbox-label">{{totalTargets}}</span><span class="small-margin-left">{{input type="checkbox" checked=targetsChecked id="targets-checkbox"}}</span>
	</div>
	<div class="col-sm-2">
		<span class="btn-group" style="margin-top: -6px;" data-toggle="buttons">
			<label class="btn btn-default active" {{action 'switchToList'}} title="View only the label for search results">
				<input type="radio" name="options" id="option1" checked>List
			</label>
			<label class="btn btn-default" {{action 'switchToObject'}} title="View label, image and description for search results">
				<input type="radio" name="options" id="option2">Object
			</label>
		</span>
	</div>
</div>
<div class="row hidden-sm hidden-md hidden-lg medium-margin-bottom">
	<div class="col-xs-12 btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			Options <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			{{#if compoundsChecked}}
			<li><a href="#" {{action "setCompoundsChecked"}}>Hide compounds<span class="badge compound-checkbox-label small-margin-left">{{totalCompounds}}</span></a></li>
			{{else}}
			<li><a href="#" {{action "setCompoundsChecked"}}>Show compounds<span class="badge compound-checkbox-label small-margin-left">{{totalCompounds}}</span></a></li>
			{{/if}}
			{{#if targetsChecked}}
			<li><a href="#" {{action "setTargetsChecked"}}>Hide targets<span class="badge target-checkbox-label small-margin-left">{{totalTargets}}</span></a></li>
			{{else}}
			<li><a href="#" {{action "setTargetsChecked"}}>Show targets<span class="badge target-checkbox-label small-margin-left">{{totalTargets}}</span></a></li>
			{{/if}}
			<li class="divider"></li>
			<li {{bind-attr class="listView:disabled:"}}><a href="#" {{action 'switchToList'}}>Show as list</a></li>
			<li {{bind-attr class="objectView:disabled:"}}><a href="#" {{action 'switchToObject'}}>Show as object</a></li>
		</ul>
	</div>
</div>

<div id="search-results">
	{{#if listView}}
	<ul class="list-unstyled">
		{{#each result in controller}}
		{{partial "searchresult"}}
		{{/each}}
	</ul>
	{{/if}}
	{{#if objectView}}
	<div>
		{{#each result in controller}}
		{{partial "searchresult"}}
		{{/each}}
	</div>
	{{/if}}

</div>
