<img src="/assets/table.png" class="single-enzyme-icon">
<img src="/assets/folder_go.png" class="folder-open" title="Click to close" {{action expand target="view" }}></img>
<img src="/assets/folder.png" class="folder-closed" title="Click to open and view any children" {{action expand target="view" }}></img>
<div class="enzymeURI">{{#if view.content.name}}{{view.content.name}}{{else}}<span class="muted">Label unknown</span>{{/if}}({{enzymeECNumber view.content.uri}})</div>{{#link-to 'trees.pharmacology' (query-params uri=view.content.uri) class="btn btn-small" title="Click to view pharmacology"}}<i class="icon-list"></i>{{/link-to}}</div>
