<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Explorer 2</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //var compound_info_search_url = "http://api.openphacts.org/compound?_callback=?";
    //var search_url = "http://ops.conceptwiki.org/web-ws/concept/search/byTag?callback=?";
    var ldaBaseUrl = '<%= AppSettings.config["api"]["url"] -%>';
    var appID = '<%= AppSettings.config["keys"]["app_id"] -%>';
    var appKey = '<%= AppSettings.config["keys"]["app_key"] -%>';
    var typeaheadUrl = '<%= typeahead_search_index_url -%>';
    var tsvCreateUrl = '<%= tab_separated_file_core_api_calls_url -%>?';
    var tsvStatusUrl = '<%= tsv_status_core_api_calls_url -%>?';
    var tsvDownloadUrl = '<%= tsv_download_core_api_calls_url -%>?';
    var organismsUrl = '<%= organisms_core_api_calls_url -%>?';
  </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
