<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Explorer 2</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //var compound_info_search_url = "<%= compound_info_search_index_url %>";
    //var search_url = "<%= search_url %>";
    var compound_info_search_url = "http://api.openphacts.org/compound?_callback=?";
    var search_url = "http://ops.conceptwiki.org/web-ws/concept/search/byTag?callback=?";
  </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
