<!DOCTYPE html>
<html lang='en'>
  <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">      
	  <%= stylesheet_link_tag :application, :media => :all %>
    <script type="text/javascript">
	    var frag_id = window.location.hash;
	    if (frag_id !== null && frag_id !== "") {
		    var rloc = window.location.protocol + "//" + window.location.hostname + ':' + window.location.port + window.location.pathname + '?' + location.hash.substr(2,frag_id.length);
		    window.location = rloc; 
	    }
    </script>
    <%= javascript_include_tag :application %>
    <script type="text/javascript">
        jQuery.support.cors = true;
    </script>

  <!-- Load browser polyfills for missing features, see https://github.com/Financial-Times/polyfill-service -->
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
    <title>Open PHACTS Explorer</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var ldaBaseUrl = '<%= AppSettings.config["api"]["url"] -%>';
    var appID = '<%= AppSettings.config["keys"]["app_id"] -%>';
    var appKey = '<%= AppSettings.config["keys"]["app_key"] -%>';
    var tsvCreateUrl = '<%= tab_separated_file_core_api_calls_url -%>?';
    var tsvStatusUrl = '<%= tsv_status_core_api_calls_url -%>?';
    var tsvDownloadUrl = '<%= tsv_download_core_api_calls_url -%>?';
    var typeaheadUrl = '<%= AppSettings.config["api"]["typeahead_url"] -%>';
    var organismsUrl = '<%= organisms_core_api_calls_url -%>?';
    var cs_download_url = '<%= chemspider_tab_separated_file_core_api_calls_url -%>';
  </script>
  <!-- <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js'></script> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
<script type="text/javascript">var oldIE = false;</script>
<!--[if lte IE 9]>
    
    <script type="text/javascript">
        oldIE = true;
    </script>

    <![endif]-->
    <%= yield %>
  </body>
</html>
